<div class="info-form">
    <div class="header-info">
        <div class="left-side">
            <button class="btn btn-back" (click)="navigateToOutput()">
                <img src="./../../../../assets/plus.png" alt="" class="img-icon right-icon">
                <!-- <mat-icon svgIcon="add"></mat-icon> -->
                <span>戻る</span>
            </button>
        </div>
        <div class="right-side">
            <div class="group-status">
                <span class="title-status">出庫状態</span>
                <span class="status " [class]="getCollorContentOutputStatus(outputStatus)">
                    {{outputStatus}}
                </span>
            </div>
            <button class="btn is-close-btn" (click)="setIsClose()">{{contentIsClose}}</button>
            <button class="{{outputStatus === '未出庫' ? 'btn delete-btn ' : 'btn delete-btn disabled'}}">
                <mat-icon svgIcon="icon-delete"></mat-icon>
                <span>削除</span>
            </button>
            <button class="save-btn btn">
                <mat-icon svgIcon="icon-save"></mat-icon>
                <span>保存</span>
            </button>
        </div>
    </div>
    <form class="form-input" [formGroup]="infoForm">
        <!-- set 1 -->
        <div class="row m-b-12">
            <div class="col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="group-input">
                            <label for="">受注日</label>
                            <div class="input-field">
                                <input type="date" formControlName="orderDate"
                                    [class]="outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="group-input">
                            <label for="">出庫予定日</label>
                            <div class="input-field">
                                <input type="date" formControlName="planOutputDate"
                                    class="{{outputStatus !== '出庫済' && isClose === '0' ? '' : ' disabled'}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="group-input">
                            <label for="">作業予定日</label>
                            <div class="input-field">
                                <input type="date" formControlName="planWorkingDate"
                                    class="{{outputStatus !== '出庫済' && isClose === '0' ? '' : ' disabled'}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="group-input">
                            <label for="">納品予定日</label>
                            <div class="input-field">
                                <input type="date" formControlName="planDeliveryDate"
                                    class="{{outputStatus !== '出庫済' && isClose === '0' ? '' : ' disabled'}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="group-input">
                            <label for="">伝票区分</label>
                            <div class="input-field">
                                <select class="input-dialog disabled">
                                    <option>通常入庫（自動採番）</option>
                                    <option>1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="group-input">
                            <label for="">伝票番号</label>
                            <div class="input-field">
                                <input class="disabled" type="text" formControlName="slipNo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="group-input">
                            <label for="">客先伝票番号</label>
                            <div class="input-field">
                                <input type="text" formControlName="planSupplierSlipNo"
                                    class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- set 2 -->
        <div class="row m-b-12">
            <div class="col-xs-12">
                <div class="row-8">
                    <div class="col-lg-1 col-md-2 col-sm-4 col-xs-8">
                        <div class="group-input">
                            <div class="group-checkbox">
                                <label for="">出荷先コード</label>
                                <div class="checkbox">
                                    <label class="label-checkbox" for="">マスタ登録外納品先指定</label>
                                    <input class="input-checkbox" type="checkbox" (click)="setNewShippingDest()"
                                        class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                                </div>
                            </div>
                            <div class="input-field input-dialog">
                                <mat-icon
                                    class="{{outputStatus === '未出庫' && isClose === '0' ? 'icon-dialog' : 'icon-dialog icon-disabled'}}"
                                    svgIcon="icon-search-input">
                                </mat-icon>
                                <input type="text" formControlName="destinationCode"
                                    class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-4 col-xs-8">
                        <div class="group-input">
                            <label for="">出荷先名称</label>
                            <div class="input-field">
                                <input class="disabled" type="text" formControlName="departmentName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- set 3 -->
        <div class="row m-b-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row-16">
                    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-16">
                        <div class="group-input">
                            <label for="">請求先コード</label>
                            <div class="input-field input-dialog">
                                <mat-icon
                                    class="{{outputStatus === '未出庫' && isClose === '0' ? 'icon-dialog' : 'icon-dialog icon-disabled'}}"
                                    svgIcon="icon-search-input"></mat-icon>
                                <input class="disabled" type="text" formControlName="customerCode"
                                    class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-13 col-md-10 col-sm-8 col-xs-16">
                        <div class="group-input">
                            <label for="">請求先名称</label>
                            <div class="input-field">
                                <input class="disabled" type="text" formControlName="customerName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="group-input">
                    <label for="">伝票備考</label>
                    <div class="input-field">
                        <input type="text" formControlName="slipNote"
                            class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
        </div>
        <!-- set 4 -->
        <div class="row m-b-12">
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="group-input">
                    <label for="">倉庫</label>
                    <div class="input-field">
                        <select class="input-dialog" formControlName="planRepositoryId"
                            class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                            <option>S_1111111111111111111111111</option>
                            <option *ngFor="let repo of listRepo; let i = index" value={{repo.repositoryId}}>
                                {{'{' + repo.repositoryId + '}'}} - {{'{' + repo.repositoryCode + '}'}} - {{'{' +
                                repo.repositoryName + '}'}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="group-input">
                    <label for="">ルート</label>
                    <div class="input-field">
                        <select class="input-dialog" formControlName="routeCode"
                            class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                            <option *ngFor="let route of listRoute; let i = index" value={{route.routeCode}}>
                                {{'{' + route.routeCode + '}'}} - {{'{' + route.routeName + '}'}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="group-input">
                    <label for="">コース</label>
                    <div class="input-field">
                        <select class="input-dialog" formControlName="courseCode"
                            class="{{outputStatus === '未出庫' && isClose === '0' ? '' : ' disabled'}}">
                            <option *ngFor="let course  of listCourse; let i = index"
                                value={{course.routeCode.concat(course.courseCode)}}>
                                {{'{' + course.routeCode.concat(course.courseCode) + '}'}} - {{'{' + course.courseName +
                                '}'}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="group-input">
                    <label for="">納品先TEL</label>
                    <div class="input-field">
                        <input type="text" formControlName="phoneNumber"
                            class="{{outputStatus === '未出庫' && newShippingDest && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="group-input">
                    <label for="">出荷先FAX</label>
                    <div class="input-field">
                        <input type="text" formControlName="faxNumber"
                            class="{{outputStatus === '未出庫' && newShippingDest && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="group-input">
                    <label for="">出荷先郵便番号</label>
                    <div class="input-field">
                        <input type="text" formControlName="postCode"
                            class="{{outputStatus === '未出庫' && newShippingDest && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
        </div>
        <!-- set 5 -->
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="group-input">
                    <label for="">出荷先住所</label>
                    <div class="input-field">
                        <input type="text" formControlName="address1"
                            class="{{outputStatus === '未出庫' && newShippingDest && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="group-input">
                    <label for=""> &nbsp; </label>
                    <div class="input-field">
                        <input type="text" formControlName="address2"
                            class="{{outputStatus === '未出庫' && newShippingDest && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="group-input">
                    <label for=""> &nbsp; </label>
                    <div class="input-field">
                        <input type="text" formControlName="address3"
                            class="{{outputStatus === '未出庫' && newShippingDest && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="group-input">
                    <label for=""> &nbsp; </label>
                    <div class="input-field">
                        <input type="text" formControlName="address4"
                            class="{{outputStatus === '未出庫' && newShippingDest && isClose === '0' ? '' : ' disabled'}}">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>