<app-header class="app-header" [title]="titlePlan"></app-header>
<div style="margin-top: 43px;">
    <app-plan [planOutput]="planOutput" [pagePlanOutputDetail]="pagePlanOutputDetail"></app-plan>
    <!-- <app-info-form [planOutput]="planOutput" [outputStatus]="outputStatus"
        (setIsCloseParent)="handleIsClose($event)"></app-info-form> -->
    <!-- <app-data-table [planOutput]="planOutput" [pagePlanOutputDetail]="pagePlanOutputDetail"
        [outputStatus]="outputStatus" [isClose]="isClose"></app-data-table> -->
</div>