<div class="header">
    <div class="breadcrumb">
      <span class="parent-title"> 入庫 </span>
      <mat-icon svgIcon="icon-right" class="icon-angle-right"></mat-icon>
      <span class="child-title">入庫一覧</span>
    </div>
    <div class="right-side">
      <div class="working-date">
        <div class="lable-date">
          業務日付
        </div>
        <div class="show-date">
          2022/04/14
        </div>
      </div>
      <button class="btn-chevron">
        <mat-icon svgIcon="icon-chervon-up" class="btn-chervon-up"></mat-icon>
      </button>
    </div>
  </div>
