<!-- <div class="header">
  <div class="flex-center">
    <mat-icon svgIcon="iconLogomenu"></mat-icon>
    <span>出庫</span>
    <span style="margin-left: 50px">{{ titelHeader }}</span>
  </div>
  <div class="menu-center"></div>

</div> -->
<!-- <div class="menu-user">
  <a nz-dropdown [nzDropdownMenu]="menu">
    <span class="username">{{userName}}</span>
    <mat-icon svgIcon="iconUser"></mat-icon>
  </a>
</div> -->



<!-- <nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable class="list">
    <li nz-menu-item (click)="changePassword()">
      <mat-icon
        class="icon-dropdown-user"
        svgIcon="iconChangePassword"
      ></mat-icon
      ><span>change password</span>
    </li>
    <li nz-menu-item (click)="btnLogOut()">
      <mat-icon class="icon-dropdown-user" svgIcon="iconLogout"></mat-icon
      ><span>logout</span>
    </li>
  </ul>
</nz-dropdown-menu> -->

<div class="header">
  <div class="frame_356">
      <div class="title_screen">
          <span class="header_title">出庫</span>
          <div class="middle_screen">
            <mat-icon class="header_icon" svgIcon="icon-right"></mat-icon>
              <!-- <i class="fa-solid fa-angle-right header_icon"></i> -->
              <span class="header_title header_title_name">出庫一覧</span>
          </div>
      </div>
  </div>
  <div class="right">
      <div class="right_1">
          <span class="right_title">業務日付</span>
          <span class="right_datetime">2022/04/14</span>
      </div>
      <span class="header_button" (click)="headerUp()">
        <img src="../../../../assets/images/icon/angle-up.svg">
      </span>
  </div>
</div>