@import './../../../../../src/styles/styles-variables.scss';
$width-nav-bar: 70px;


.app-header {
    height: 40px;
    // width: 100%;
    width: calc(100% - $width-nav-bar - 8px);
    position: fixed;
    z-index: 1020;
}

.info-form {
    background-color: #F9FCFF;
    width: 100%;
    // min-width: 490px;
    padding: 8px 12px 12px;
    letter-spacing: 0.014;
    justify-content: space-evenly;


    .header-info {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        button {
            font-size: 13px;
            height: 30px;
            width: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 3px;
            border: none;
        }

        .left-side {
            color: #4392BB;
            font-weight: 500;
            line-height: 19.5px;
            align-items: center;

            .btn-back {
                border: 1px solid #D6D6D6;
                background-color: #ffffff;

                .right-icon {
                    transform: rotate(270deg);
                    padding-right: 2px;
                }
            }

        }



        .right-side {
            display: flex;
            gap: 8px;
            align-items: center;
            font-weight: 500;
            flex-wrap: wrap;
            justify-content: right;


            .group-status {
                display: flex;
                gap: 8px;
                // min-width: 120px;

                .title-status {
                    font-size: 14px;
                }

                .status {
                    width: 53px;
                    font-size: 12px;
                    border-radius: 4px;
                    padding: 3px 8px;
                    background-color: #EFEDFF;
                    align-items: center;
                }

                .conten-not-yet {
                    color: #7D63CC;
                    background-color: #EFEDFF;
                }

                .conten-remain {
                    color: #EBB71C;
                    background-color: #FFFAE5;
                }


                .conten-done {
                    color: #4392BB;
                    background-color: #EDF6FF;
                }

                .conten-no {
                    color: #EBB71C;
                    background-color: #FFFAE5;
                    text-align: center;
                }
            }

            .group-btn {
                display: flex;
                gap: 8px;
                align-items: center;
            }

            .is-close-btn {
                width: 96px;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF;
                border-radius: 3px;
                border: 1px solid #D6D6D6;
                color: #EF4949;

            }

            .close {
                color: #EF4949;
            }

            .unclose {
                color: #4392BB;
            }



            .btn mat-icon {
                width: 13px;
                height: auto;
                line-height: 0;
                margin-right: 0px;
                transform: translateY(0px);
            }

            .delete-btn {
                color: #FFFFFF;
                background-color: #EB5757;
            }

            .save-btn {
                color: #FFFFFF;
                background-color: #4392BB;

            }

        }
    }

    .form {
        margin-top: 12px;

        input {
            width: 100%;
            border-radius: 2px;
            border: 1px solid #D6D6D6;
        }

        input.border-red {
            border-color: red;
        }

        label {
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            color: #485764;
            // margin-bottom: 4px;
        }

        .group-checkbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2px 0px;

            .label-input {
                display: inline;
                min-width: 72px;
            }

            .checkbox {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 3px;
                gap: 3px;
                width: 75px;

                .label-checkbox {
                    font-size: 4px;
                    font-weight: 500;
                    line-height: 6px;
                    // color: #485764;
                }

                .input-checkbox {
                    width: 16px;
                    height: 16px;
                    border-radius: 2px;
                    border: 1px solid #D6D6D6;
                    border-color: #D6D6D6;
                    background-color: #EFEDFF;
                }
            }




        }
    }

    .form-input {
        label {
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
        }

        // input:hover {
        //     border: 1px solid #4392BB;
        // }


        .group-input {
            display: block;

            .input-dialog {
                position: relative;
                gap: 10px;
                height: 30px;
                justify-content: space-between;
                width: 100%;

                input {
                    padding: 6px 32px 6px 8px;
                }


                .icon-dialog {
                    position: absolute;
                    cursor: pointer;
                    background-color: #4392BB;
                    // left: 85%;
                    top: 30%;
                    right: 10px;
                    // top: 10px;
                    border-radius: 2px;
                    width: 16px;
                    height: 16px;
                    align-items: center;
                    justify-content: center;
                    line-height: 0 !important;

                }

                .icon-dialog:hover {
                    background-color: #0b6697;
                }

                input {
                    height: 30px;
                    width: 100%;
                }
            }

            .input-field {
                padding-top: 2px;

                mat-icon.disabled {
                    opacity: 1;
                    pointer-events: none;
                    background-color: #9F9F9F;
                }

                input.disabled {
                    opacity: 1;
                    pointer-events: none;
                    background-color: #F2F2F2;
                }

                select {
                    border-radius: 2px;
                    border: 1px solid #D6D6D6;
                    padding: 0px 16px 0px 10px;
                }

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    // background-image: url(../../../../../../assets//icon-svg/caret-down-blue.svg);
                    background-image: url(../../../../assets/icon-svg/caret-down-blue.svg);
                    background-repeat: no-repeat;
                    background-position: right 0.5em top 50%;
                    background-size: .65em auto;
                    cursor: pointer;
                }

                select.disabled {
                    // background-image: url(../../../../../../assets/icon-svg/caret-down.svg);
                    background-image: url(../../../../assets/icon-svg/caret-down.svg);
                    background-color: #F2F2F2;
                    opacity: 1;
                    pointer-events: none;
                }
            }

            .disabled {
                opacity: 0.5;
                pointer-events: none;
                background-color: #9F9F9F;
            }
        }
    }

    input {
        height: 30px;
        border-radius: 2px;
        border: 1px solid #D6D6D6;
        padding: 6px 8px 6px 8px;
        // cursor: pointer;
        // color: #9fa3b1;

    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(48%) sepia(99%) saturate(274%) hue-rotate(156deg) brightness(89%) contrast(92%);
    }

    // input[type="date"] .disabled::-webkit-calendar-picker-indicator {
    //     cursor: pointer;
    //     filter: invert(48%) sepia(99%) saturate(274%) hue-rotate(156deg) brightness(89%) contrast(92%);
    // }

    input::placeholder {
        color: deeppink;
        font-size: 5rem;
        text-transform: uppercase;
    }


    // input[type="checkbox"]:hover {
    //     border: none;
    //     border-color: none;
    //     cursor: pointer;
    // }

    // responsive NhanDT

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .text-center {
        text-align: center;
    }

    .image {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .image--center {
        margin-left: auto;
        margin-right: auto;
    }

    .image--circle {
        border-radius: 50%;
    }

    .footer {
        height: 50px;
        background-color: #404040;
        margin-top: 30px;
    }

    /* GRID */

    /* CONTAINER */
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: 398px) {
        .container {
            width: 370px;
        }
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 1360px) {
        .container {
            width: 1320px;
        }
    }


    /* ROW */
    .m-b-12 {
        margin-bottom: 12px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 12px;


    }

    .row-8 {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 12px;

    }

    .row-16 {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-gap: 12px;

    }

    .col-xs-16 {
        grid-column: span 16
    }

    .col-xs-13 {
        grid-column: span 13
    }

    .col-xs-12 {
        grid-column: span 12
    }

    .col-xs-11 {
        grid-column: span 11;
    }


    .col-xs-10 {
        grid-column: span 10
    }

    .col-xs-9 {
        grid-column: span 9
    }

    .col-xs-8 {
        grid-column: span 8
    }

    .col-xs-7 {
        grid-column: span 7
    }

    .col-xs-6 {
        grid-column: span 6
    }

    .col-xs-5 {
        grid-column: span 5
    }

    .col-xs-4 {
        grid-column: span 4
    }

    .col-xs-3 {
        grid-column: span 3
    }

    .col-xs-2 {
        grid-column: span 2
    }


    .col-xs-1 {
        grid-column: span 1
    }

    @media (min-width: 768px) {
        .col-sm-13 {
            grid-column: span 13
        }

        .col-sm-12 {
            grid-column: span 12
        }

        .col-sm-11 {
            grid-column: span 11;
        }

        .col-sm-10 {
            grid-column: span 10
        }

        .col-sm-9 {
            grid-column: span 9
        }

        .col-sm-8 {
            grid-column: span 8
        }

        .col-sm-7 {
            grid-column: span 7
        }

        .col-sm-6 {
            grid-column: span 6
        }

        .col-sm-5 {
            grid-column: span 5
        }

        .col-sm-4 {
            grid-column: span 4
        }

        .col-sm-3 {
            grid-column: span 3
        }

        .col-sm-2 {
            grid-column: span 2
        }

        .col-sm-1 {
            grid-column: span 1
        }
    }

    @media (min-width: 992px) {
        .col-md-13 {
            grid-column: span 13
        }

        .col-md-12 {
            grid-column: span 12
        }

        .col-md-11 {
            grid-column: span 11;
        }

        .col-md-10 {
            grid-column: span 10
        }

        .col-md-9 {
            grid-column: span 9
        }

        .col-md-8 {
            grid-column: span 8
        }

        .col-md-7 {
            grid-column: span 7
        }

        .col-md-6 {
            grid-column: span 6
        }

        .col-md-5 {
            grid-column: span 5
        }

        .col-md-4 {
            grid-column: span 4
        }

        .col-md-3 {
            grid-column: span 3
        }

        .col-md-2 {
            grid-column: span 2
        }

        .col-md-1 {
            grid-column: span 1
        }
    }

    @media (min-width: 1360px) {
        .col-lg-13 {
            grid-column: span 13
        }

        .col-lg-12 {
            grid-column: span 12
        }

        .col-lg-11 {
            grid-column: span 11;
        }

        .col-lg-10 {
            grid-column: span 10
        }

        .col-lg-9 {
            grid-column: span 9
        }

        .col-lg-8 {
            grid-column: span 8
        }

        .col-lg-7 {
            grid-column: span 7
        }

        .col-lg-6 {
            grid-column: span 6
        }

        .col-lg-5 {
            grid-column: span 5
        }

        .col-lg-4 {
            grid-column: span 4
        }

        .col-lg-3 {
            grid-column: span 3
        }

        .col-lg-2 {
            grid-column: span 2
        }

        .col-lg-1 {
            grid-column: span 1
        }
    }
}

.data-table {
    background-color: $background-default;
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    margin: 3px 0px;
    font-family: "Noto Sans JP", sans-serif !important;
    font-size: 13px;

    .tbl-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;


        .tbl-title {
            display: flex;
            align-items: center;
            gap: 16px;
            color: $color-primary;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.014em;
            line-height: 21px;

            .btn-area-table {
                display: flex;
                gap: 8px
            }

            .btn mat-icon {
                width: 13px;
                height: auto;
                line-height: 0;
                margin-right: 0px;
                transform: translateY(0px);
            }

            .btn-icon:active {
                transform: translateY(2px);
            }

            .btn-icon {
                width: 72px;
                display: flex;
                gap: 8px;
                justify-content: center;
                align-items: center;
                background-color: #4392BB;
            }
        }

        .pagination {
            display: flex;
            gap: 2px;
            align-items: center;

            .pgn-total {
                color: rgba(67, 146, 187, 1);
                font-size: 13px;
            }

            .pgn-label {
                color: rgba(159, 159, 159, 1);
                font-size: 13px;
            }
        }
    }

    .height-table-200 {
        max-height: 202.5px;
    }

    .height-table-full {
        max-height: 595px;
    }

    .table-container {
        width: 100%;
        overflow: auto;
        // min-width: 1480px;
        // max-height: 190px;
        border-collapse: separate;

        tr {
            height: 40px;
            width: auto;
        }

        .header-tb {
            background-color: #EAF4FF;
            position: sticky;
            z-index: 1000;
            top: 0;
            height: 56px;
            // border: 2px solid #D6D6D6;
            justify-content: left;
            // border-bottom: 1px solid #D6D6D6;
            text-align: left;

            tr {
                height: 32px !important;
            }

            th {
                padding: 6px 8px;
                border-bottom: 1px solid #D6D6D6;
                border-right: 1px solid #D6D6D6;
                font-weight: 700px;
                line-height: 19.5px;

                .numberic {
                    display: flex;
                    align-items: center !important;
                    justify-content: center;
                }
            }

            .no-right {
                border-right: none;
            }

            th.text-right {
                justify-content: right;
            }
        }

        .content-tb {

            td {
                height: 40px !important;
                border-bottom: 1px solid #E8E8E8;
                border-right: 1px solid #E8E8E8;
                font-family: "Noto Sans JP", sans-serif !important;
                padding: 0px 8px;
                font-weight: 400;
                line-height: 19.5px;


                color: inherit;
                font-size: inherit;

                input.border-red {
                    border-color: red;
                }

            }

            .no-right {
                border-right: none;
            }

            .icon-info {
                display: flex;
                align-items: center;
                justify-content: center;
                // padding: 6px 8px;

                mat-icon {
                    width: 16px;
                    cursor: pointer;
                }


            }

            .numberic {
                display: flex;
                align-items: center !important;
                justify-content: center;
            }

            .status {
                width: 53px;
                font-size: 12px;
                border-radius: 4px;
                padding: 3px 8px;
                background-color: #E8E8E8;
                align-items: center;
                color: #9F9F9F;
            }

            .input-dialog {
                position: relative;
                gap: 10px;
                height: 30px;
                justify-content: space-between;
                width: 100%;
                z-index: 0;

                input {
                    width: 100%;
                    height: 30px;
                    padding: 6px 32px 6px 8px;
                    border-radius: 2px;
                    border: 1px solid #D6D6D6;
                }

                mat-icon.disabled {
                    opacity: 1;
                    pointer-events: none;
                    background-color: #9F9F9F;
                }

                input.disabled {
                    opacity: 1;
                    pointer-events: none;
                    background-color: #F2F2F2;
                }

                // .border-red {
                //     border-color: red;
                // }

                .icon-dialog {
                    position: absolute;
                    cursor: pointer;
                    background-color: #4392BB;
                    // left: 85%;
                    top: 25%;
                    right: 10px;
                    // top: 10px;
                    border-radius: 2px;
                    width: 16px;
                    height: 16px;
                    align-items: center;
                    justify-content: center;
                    line-height: 0 !important;

                }

                .icon-dialog:hover {
                    background-color: #0b6697;
                }


                select.disabled {
                    background-image: url(../../../../assets/icon-svg/caret-down.svg);
                    background-color: #F2F2F2;
                    opacity: 1;
                    pointer-events: none;
                }
            }

            .row-input {
                display: flex;
                gap: 4px;

                .w-30 {
                    width: 30px;
                }

                .w-auto {
                    width: calc(100% - 29px);
                }
            }

            .group-input {
                display: flex;
                justify-content: space-between;
                align-items: center;

                // padding-top: 2px;
                span {
                    padding: 0px 0.5%;
                }

                input {
                    width: 50%;
                    height: 30px;
                    padding: 4px 8px 4px 8px;
                    border-radius: 2px;
                    border: 1px solid #D6D6D6;
                }

                input.disabled {
                    opacity: 1;
                    pointer-events: none;
                    background-color: #F2F2F2;
                }

                label {
                    width: 30%;
                    padding: 0px 6px;
                    font-size: 8px;
                    font-weight: 400;
                }
            }

            .input-field {
                // padding-top: 2px;
                align-items: center;

                input {
                    width: 100%;
                    height: 30px;
                    padding: 4px 8px 4px 8px;
                    border-radius: 2px;
                    border: 1px solid #D6D6D6;
                }

                mat-icon.disabled {
                    opacity: 1;
                    pointer-events: none;
                    background-color: #9F9F9F;
                }

                input.disabled {
                    opacity: 1;
                    pointer-events: none;
                    background-color: #F2F2F2;
                }

                select {
                    border-radius: 2px;
                    border: 1px solid #D6D6D6;
                    padding: 0px 16px 0px 8px;
                }

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-image: url(../../../../assets//icon-svg/caret-down-blue.svg);
                    background-repeat: no-repeat;
                    background-position: right 0.5em top 50%;
                    background-size: .65em auto;
                    cursor: pointer;
                }

                select.disabled {
                    background-image: url(../../../../assets/icon-svg/caret-down.svg);
                    background-color: #F2F2F2;
                    opacity: 1;
                    pointer-events: none;
                }
            }

            .group-radio {
                display: flex;
                gap: 24px;
                align-items: center;

                .radio-item {
                    align-items: center;
                    width: 56px;
                    display: flex;
                    gap: 8px;

                    .radio-input {
                        width: 16px;
                        height: 16px;
                        padding: 2px;
                        border: 1px solid #D6D6D6;
                        // margin-right: 2px;
                        cursor: pointer;
                    }

                    .border-red {
                        border: 1px;
                        border-color: red;
                        background-color: red;
                    }

                    // .radio-input:hover {
                    //     background-color: #1d83ba;
                    // }

                    .radio-label {
                        size: 13px;
                        line-height: 19.5px;
                        font-weight: 400;
                        color: #485764;
                        cursor: pointer;
                    }
                }


            }

            .action {
                display: block;
                margin: 0 auto;
                // justify-content: center;

                .btn {
                    width: 24px;
                    height: 24px;
                    border-radius: 3px;

                    mat-icon {
                        width: 12px;
                        height: 12px;
                        line-height: 0;
                        margin-right: 10px;
                        transform: translateY(0px);
                        display: inline;
                    }

                }

                .btn-delete {
                    background-color: #EB5757;
                }

                .btn-copy {
                    background-color: #4392BB;
                }

            }

        }

        .vertical-line::before {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background-color: black;
        }

        .td-not-yet-color {
            background-color: #EFEDFF;
        }

        .td-conten-not-yet {
            color: #7D63CC;
            // text-align: center;
            border-right: 1px solid #7D63CC;
        }

        .td-remain-color {
            background-color: #FFFAE5;
        }

        .td-conten-remain {
            color: #EBB71C;
            // text-align: center;
            border-right: 1px solid #EBB71C;
        }

        .td-done-color {
            background-color: #EDF6FF;
        }

        .td-conten-done {
            color: #4392BB;
            // text-align: center;
            border-right: 1px solid #4392BB;
        }

        .td-no-color {
            background-color: #FFFAE5;
        }

        .td-conten-no {
            color: #EBB71C;
            text-align: center;
            border-right: 1px solid #EBB71C;
        }

        .text-left {
            text-align: left;
        }

        // tbody tr td:nth-child(1) {
        //     position: sticky;
        //     left: 0;
        //     background-color: $background-default;
        // }

        // td:nth-child(2) {
        //     position: sticky;
        //     left: 25px;
        //     background-color: $background-default;
        // }

        // td:nth-child(3) {
        //     position: sticky;
        //     left: 50px;
        //     background-color: $background-default;
        // }

        // td:nth-child(4) {
        //     position: sticky;
        //     left: 80px;
        //     background-color: $background-default;
        // }

        // td:nth-child(5) {
        //     position: sticky;
        //     left: 160px;
        //     background-color: $background-default;
        // }

        // td:nth-child(6) {
        //     position: sticky;
        //     left: 240px;
        //     background-color: $background-default;
        // }

        // td:nth-child(7) {
        //     position: sticky;
        //     left: 320px;
        //     background-color: $background-default;
        // }

        // tr:nth-child(1) {
        //     th:nth-child(1) {
        //         position: sticky;
        //         left: 0;
        //         background-color: #EAF4FF;
        //     }

        //     th:nth-child(2) {
        //         position: sticky;
        //         left: 25px;
        //         background-color: #EAF4FF;
        //     }

        //     th:nth-child(3) {
        //         position: sticky;
        //         left: 50px;
        //         background-color: #EAF4FF;
        //     }

        //     th:nth-child(4) {
        //         position: sticky;
        //         left: 80px;
        //         background-color: #EAF4FF;
        //     }

        //     th:nth-child(5) {
        //         position: sticky;
        //         left: 160px;
        //         background-color: #EAF4FF;
        //     }

        //     th:nth-child(6) {
        //         position: sticky;
        //         left: 240px;
        //         background-color: #EAF4FF;
        //     }

        //     th:nth-child(7) {
        //         position: sticky;
        //         left: 320px;
        //         background-color: #EAF4FF;
        //     }
        // }


        // tbody tr td:nth-last-child(1) {
        //     position: sticky;
        //     right: 0;
        //     background-color: $background-default;
        // }



        // tbody tr td:nth-last-child(2) {
        //     position: sticky;
        //     right: 70px;
        //     background-color: $background-default;
        // }


        // tbody tr td:nth-last-child(3) {
        //     position: sticky;
        //     right: 140px;
        //     background-color: $background-default;
        // }

        // thead tr th:nth-last-child(1) {
        //     position: sticky;
        //     right: 0;
        //     background-color: #EAF4FF;

        // }

        // thead tr th:nth-last-child(2) {
        //     position: sticky;
        //     right: 70px;
        //     background-color: #EAF4FF;
        // }

        // thead tr th:nth-last-child(3) {
        //     position: sticky;
        //     right: 140px;
        //     background-color: #EAF4FF;
        // }

        .cdk-column-status {
            // border-left: 1px solid rgb(242, 242, 242);

            .status-col {
                margin: auto;
            }
        }

        // &.hiddenScrollBar {
        //   overflow: hidden;
        // }

        .btn-action {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 38px;

            button.option {
                padding: unset;
                border-width: 0;
            }
        }

        .status-col {
            border-bottom: none;
            display: flex;
            justify-content: center;
            gap: 6px;
            align-items: center;

            span {
                height: 20px;
                border-radius: 4px;

                &:first-child {
                    width: 28px;

                    &.not-yet {
                        color: #7D63CC;
                        background-color: #F7F4FC;
                    }

                    &.done {
                        color: #2FA46F;
                        background-color: #E4F9EE;
                    }

                    &.in-progress {
                        color: #EBB71C;
                        background-color: #FFF5D1;
                    }
                }

                &:nth-child(2) {
                    width: 77px;

                    &.close {
                        background: #FFF1F1;
                        color: #EB5757;
                    }

                    &.open {
                        background: #F2F2F2;
                        color: #9F9F9F;
                    }
                }
            }

        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: invert(48%) sepia(99%) saturate(274%) hue-rotate(156deg) brightness(89%) contrast(92%);
            color: #9F9F9F;
        }


    }

    .text-color-col {
        margin: auto;

        span {
            &.untreated {
                color: #9F9F9F !important;
            }

            &.processing {
                color: #EBB71C !important;
            }

            &.processed {
                color: #2FA46F !important;
            }
        }
    }

    .table-container.hidden-scroll {
        overflow-x: hidden;
    }

    .no-data-row {
        min-width: 100%;
        display: flex;
        justify-content: center;
        background-color: $ghostWhite;
        margin: 0 auto;

        span {
            margin: 15px auto;
            font-weight: 400;
            font-size: 13px;
            line-height: 150%;
            color: $fiord;
            text-align: center;
        }
    }

    .mat-row .mat-cell {
        cursor: pointer;
        gap: 8px;
    }

    .mat-row:nth-child(2n):hover {
        color: $black;

        .mat-table-sticky {
            background-color: $pattemsBlue !important;
        }
    }

    .mat-row:hover .mat-cell {
        background-color: $pattemsBlue !important;
        color: $black;
    }

    .mat-table-sticky {
        // background-color: $white;
        opacity: 1;
    }

    .mat-header-cell,
    .mat-footer-cell,
    .mat-cell {
        padding: 4px;
    }

    ::ng-deep .table-container .mat-sort-header-container {
        font-weight: 700;
        font-size: 13px;
    }

    ::ng-deep .table-container .cell-align-center .mat-sort-header-container {
        justify-content: center;
    }

    ::ng-deep .table-container .mat-table-sticky-border-elem-right {
        border-left: 1px solid rgba(242, 242, 242, 1);
    }

    ::ng-deep .table-container tr.mat-header-row {
        height: 30px;

        // th {
        // padding: 10px;
        // }

        th:first-child {
            padding-left: 20px;
        }
    }

    ::ng-deep .table-container tr.mat-row {
        height: 38px;
        border-bottom: none;

        td {
            padding: 4px;
        }

        td:first-child {
            padding-left: 20px;
        }

    }

    .cell-align-right {
        text-align: right;
    }

    .cell-align-center {
        text-align: center;
    }

    .selected-row {
        background-color: $color-primary !important;

        td {
            color: $white;

            mat-icon svg {
                fill: $white;
            }
        }

        .mat-table-sticky {
            background-color: $color-primary !important;
        }
    }

    .mat-row:nth-child(2n) {
        background-color: $azure;

        .mat-table-sticky {
            background-color: $azure;
        }
    }

    .total {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        span {
            margin: 10px 20px 0 0;
        }
    }

    .mat-header-cell.mat-table-sticky {
        font-style: normal;
        font-weight: 700;
    }

    .label {
        display: flex;
        -webkit-box-align: center;
        justify-content: center;
        align-items: center;
        padding: 0.375rem 0.25rem;
        margin-bottom: 0;
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1.5;
        color: $white;
        text-align: center;
        white-space: nowrap;
        background-color: $pacificBlue;
        border-radius: 0.25rem 0 0 0.25rem;
        min-width: 100px;
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
        // margin-top: 8px;
        // background: $background-default;

        // .mat-row:nth-child(2n) {
        //     background-color: $even-odd-row;
        // }
    }

    // .row {
    //     width: 100%;
    //     display: flex;
    //     justify-content: space-between;
    //     margin-top: 15px;
    //     margin-left: 10px;

    //     .col {
    //         display: flex;
    //         width: 45%;
    //     }

    //     .col.last {
    //         margin-right: 10px;
    //     }

    //     .date {
    //         margin-right: 10px;
    //     }
    // }

    ::ng-deep .mat-header-cell {
        font-weight: 700;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: 0.014em;
        color: $fiord;
    }

    tr.mat-row.highlight {
        background-color: $blizzardBlue !important;
    }

    .mat-cell {
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: 0.014em;
        color: $fiord;
    }

    .mat-header-cell {
        font-size: 14px;
    }

    .btn-show-more {
        display: flex;
        justify-content: center;
        padding: 8px 18px 0 18px;

        .mat-stroked-button {
            border: 1px solid rgba(214, 214, 214, 1);
            padding: 7.5px 22px;
            display: flex;
            align-items: center;

            mat-icon {
                width: 10px;
            }
        }
    }

    .table-footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 5px 6px;
        padding: 10px 0;

        span {
            margin-right: 10px;
            font-size: 13px;
        }
    }

    ::ng-deep mat-checkbox.checkbox .mat-checkbox-frame {
        border-color: rgba(214, 214, 214, 1);
    }

    ::ng-deep .mat-raised-button.btn-export {
        min-width: 28px;
        padding: 0 0.5px;
        height: 28px;

        mat-icon {
            height: 19px;
            width: 13px;
            margin-top: -18px;
        }
    }

    ::ng-deep .btn-export {
        border-width: 1px;

        &:hover {
            background-color: $whiteSmoke;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.5;
            color: $color-primary;
        }
    }

    ::ng-deep .btn-icon {
        //border-width: 1px;

        &:hover {
            background-color: $lochmara;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.5;
            background: $sail;
        }
    }

    ::ng-deep .btn-action .mat-icon:hover svg .icon-delete {
        fill: $fireBrick2 !important;
    }

    ::ng-deep .btn-action .mat-icon:hover svg .icon-edit {
        fill: $lochmara !important;
    }

    .mat-raised-button.btn-icon {
        min-width: 30px;
        padding: 0 0.5px;
        height: 30px;
        width: 30px;

        mat-icon {
            height: 19px;
            width: 13px;
            //margin-top: -18px;
        }
    }

    ::ng-deep .cell-align-center .mat-sort-header-container {
        display: flex;
        justify-content: center;
    }

    ::ng-deep .cdk-program-focused .mat-sort-header-container {
        border-bottom: none;
    }

    // ::ng-deep .table-container span {
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    //     // width: 100%;
    //     display: block;
    //     overflow: hidden;
    // }

    .preview button {
        height: 30px;
        border-radius: 3px;
        border: none;
        cursor: pointer;

        &.export {
            background-color: $color-primary;
        }

        &.export:hover:not(:disabled) {
            background-color: $color-primary;
            filter: brightness(1.1);
        }

        &.export:disabled {
            opacity: 0.7;
            cursor: default;
        }
    }

    .btn-print {
        width: 110px;
    }

    .th-2 {
        min-width: 20px;
    }

    .th-25 {
        min-width: 25px;
    }

    .th-3 {
        min-width: 30px;
    }

    .th-4 {
        min-width: 40px;
    }

    .th-6 {
        min-width: 60px;
    }

    .th-7 {
        min-width: 70px;
    }

    .th-8 {
        min-width: 80px;
    }

    .th-9 {
        min-width: 90px;
    }

    .th-100 {
        min-width: 100px;
    }

    .th-110 {
        min-width: 110px;

    }

    .th-120 {
        min-width: 120px;
    }

    .th-128 {
        min-width: 128px;
    }

    .th-130 {
        min-width: 130px;
    }

    .th-140 {
        min-width: 140px;
        max-width: 160px;
    }

    .th-150 {
        min-width: 150px;
    }

    .th-160 {
        min-width: 160px;
    }

    .th-180 {
        min-width: 180px;
    }

    .th-270 {
        min-width: 270px;
    }

    .th-310 {
        min-width: 310px;
    }

    .th-auto {
        width: 100%;
    }

    .body-tb {
        border-bottom: 1px solid #D6D6D6;

    }




    // .icon-center {
    //   align-items: center;
    //   justify-content: center;
    //   text-align: center;
    // }
    .icon-lock {
        width: 10.5px;
        height: 12px;
    }

    .text-center {
        text-align: center;
        margin: 0 auto;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .type-deli-plan {
        font-size: 12px;
        font-weight: 500;
        width: 65px;
        border-radius: 4px;
        text-align: center;
        color: #4392BB;
        background-color: #EDF6FF;
    }

    .type-deli-actual {
        font-size: 12px;
        font-weight: 500;
        width: 65px;
        border-radius: 4px;
        text-align: center;
        color: #EBB71C;
        background-color: #FFF5D1;
    }

    .batch-status-1 {
        font-size: 12px;
        font-weight: 500;
        width: 53px;
        border-radius: 4px;
        justify-content: center;
        text-align: center;
        color: #EBB71C;
        background-color: #FFF5D1;
    }

    .btn {
        width: 60px;
        height: 30px;
        font-weight: 500;
        border-radius: 3px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #fff;
        border: none;
        // padding: auto 12px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #fff;
    }

    .btn-plan {
        background-color: #00AEC8;
    }

    .btn-actual {
        background-color: #00B5AD;
    }

    .btn-correction {
        background-color: #6B77B6;
    }

    .btn-plan:hover {
        background-color: #02889d;
    }

    .btn-actual:hover {
        background-color: #008881;
    }

    .btn-correction:hover {
        background-color: #515b8c;
    }

    .m-0-au {
        margin: 0 auto;
    }

    // responsive NhanDT

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .text-center {
        text-align: center;
    }

    .image {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .image--center {
        margin-left: auto;
        margin-right: auto;
    }

    .image--circle {
        border-radius: 50%;
    }

    .footer {
        height: 50px;
        background-color: #404040;
        margin-top: 30px;
    }

    /* GRID */

    /* CONTAINER */
    // .container {
    //     width: 100%;
    //     margin-left: auto;
    //     margin-right: auto;
    //     padding-left: 15px;
    //     padding-right: 15px;
    // }

    // @media (min-width: 398px) {
    //     .container {
    //         min-width: 370px;
    //     }
    // }

    // @media (min-width: 768px) {
    //     .container {
    //         width: 750px;
    //     }
    // }

    // @media (min-width: 992px) {
    //     .container {
    //         width: 970px;
    //     }
    // }

    // @media (min-width: 1270px) {
    //     .container {
    //         min-width: 1240px;
    //     }
    // }


    /* ROW */
    .m-b-12 {
        margin-bottom: 12px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 4px;


    }

    .row-8 {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 4px;

    }

    .row-16 {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-gap: 4px;

    }

    .col-xs-16 {
        grid-column: span 16
    }

    .col-xs-15 {
        grid-column: span 15
    }

    .col-xs-14 {
        grid-column: span 14
    }

    .col-xs-13 {
        grid-column: span 13
    }

    .col-xs-12 {
        grid-column: span 12
    }

    .col-xs-11 {
        grid-column: span 11;
    }


    .col-xs-10 {
        grid-column: span 10
    }

    .col-xs-9 {
        grid-column: span 9
    }

    .col-xs-8 {
        grid-column: span 8
    }

    .col-xs-7 {
        grid-column: span 7
    }

    .col-xs-6 {
        grid-column: span 6
    }

    .col-xs-5 {
        grid-column: span 5
    }

    .col-xs-4 {
        grid-column: span 4
    }

    .col-xs-3 {
        grid-column: span 3
    }

    .col-xs-2 {
        grid-column: span 2
    }


    .col-xs-1 {
        grid-column: span 1
    }

    @media (min-width: 768px) {
        .col-sm-13 {
            grid-column: span 13
        }

        .col-sm-12 {
            grid-column: span 12
        }

        .col-sm-11 {
            grid-column: span 11;
        }

        .col-sm-10 {
            grid-column: span 10
        }

        .col-sm-9 {
            grid-column: span 9
        }

        .col-sm-8 {
            grid-column: span 8
        }

        .col-sm-7 {
            grid-column: span 7
        }

        .col-sm-6 {
            grid-column: span 6
        }

        .col-sm-5 {
            grid-column: span 5
        }

        .col-sm-4 {
            grid-column: span 4
        }

        .col-sm-3 {
            grid-column: span 3
        }

        .col-sm-2 {
            grid-column: span 2
        }

        .col-sm-1 {
            grid-column: span 1
        }
    }

    @media (min-width: 992px) {
        .col-md-13 {
            grid-column: span 13
        }

        .col-md-12 {
            grid-column: span 12
        }

        .col-md-11 {
            grid-column: span 11;
        }

        .col-md-10 {
            grid-column: span 10
        }

        .col-md-9 {
            grid-column: span 9
        }

        .col-md-8 {
            grid-column: span 8
        }

        .col-md-7 {
            grid-column: span 7
        }

        .col-md-6 {
            grid-column: span 6
        }

        .col-md-5 {
            grid-column: span 5
        }

        .col-md-4 {
            grid-column: span 4
        }

        .col-md-3 {
            grid-column: span 3
        }

        .col-md-2 {
            grid-column: span 2
        }

        .col-md-1 {
            grid-column: span 1
        }
    }

    @media (min-width: 1240px) {
        .col-lg-13 {
            grid-column: span 13
        }

        .col-lg-12 {
            grid-column: span 12
        }

        .col-lg-11 {
            grid-column: span 11;
        }

        .col-lg-10 {
            grid-column: span 10
        }

        .col-lg-9 {
            grid-column: span 9
        }

        .col-lg-8 {
            grid-column: span 8
        }

        .col-lg-7 {
            grid-column: span 7
        }

        .col-lg-6 {
            grid-column: span 6
        }

        .col-lg-5 {
            grid-column: span 5
        }

        .col-lg-4 {
            grid-column: span 4
        }

        .col-lg-3 {
            grid-column: span 3
        }

        .col-lg-2 {
            grid-column: span 2
        }

        .col-lg-1 {
            grid-column: span 1
        }
    }
}

input[type="date"] {
    cursor: text;
}