<form class="form_container" (ngSubmit)="getConditionsSearch()" [formGroup]="searchForm">

        <div class="input_group">
            <label>受注日</label>
            <div class="form-input">

                <input type="date" name="fromOrderDate" formControlName="fromOrderDate">
                <span>~</span>
                <input type="date" name="toOrderDate" formControlName="toOrderDate">
            </div>
        </div>

        <div class="input_group">
            <label>出庫予定日</label>
            <div class="form-input">

                <input type="date" name="fromPlanOutputDate" formControlName="fromPlanOutputDate">
                <span>~</span>
                <input type="date" name="toPlanOutputDate" formControlName="toPlanOutputDate">
            </div>
        </div>

        <div class="input_group">
            <label>作業予定日</label>
            <div class="form-input">

                <input type="date" name="fromPlanWokingDate" formControlName="fromPlanWokingDate">
                <span>~</span>
                <input type="date" name="toPlanWokingDate" formControlName="toPlanWokingDate">
            </div>
        </div>

        <div class="input_group">
            <label>納品予定日</label>
            <div class="form-input">

                <input type="date" name="fromPlanDeliveDate" formControlName="fromPlanDeliveDate">
                <span>~</span>
                <input type="date" name="toPlanDeliveDate" formControlName="toPlanDeliveDate">
            </div>
        </div>

        <div class="input_group">
            <label>伝票番号</label>
            <div class="form-input">

                <input type="number" min="1" name="fromSlipNo" formControlName="fromSlipNo">
                <span>~</span>
                <input type="number" min="1" name="toSlipNo" formControlName="toSlipNo">
            </div>
        </div>

        <div class="input_group">
            <label>出荷先コード</label>
            <div class="form-input">

                <div class="input_icon">
                    <span class="block_icon_search" >
                        <mat-icon class="icon_search" (click)="openDialog('customerCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" formControlName="fromCustomerId" value="{{ displayFormInput.fromCustomerCode }}">
                </div>

                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('customerCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" formControlName="toCustomerId" value="{{ displayFormInput.toCustomerCode }}">
                </div>
            </div>
        </div>

        <div class="input_group">
            <label>出荷先名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="customerName" formControlName="customerName">
            </div>
        </div>

        <div class="input_group">
            <label>納品先コード</label>
            <div class="form-input">
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('destinationCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromDeliverDestId"
                        formControlName="fromDeliverDestId" value="{{ displayFormInput.fromDestinationCode }}">
                </div>
                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('destinationCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toDeliverDestId"
                        formControlName="toDeliverDestId" value="{{ displayFormInput.toDestinationCode }}">
                </div>
            </div>
        </div>

        <div class="input_group">
            <label>納品先名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="dileveDestName" formControlName="dileveDestName">
            </div>
        </div>

        <div class="input_group">
            <label>仕入先コード</label>
            <div class="form-input">
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('supplierCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromSupplierId" 
                        formControlName="fromSupplierId" value="{{ displayFormInput.fromSupplierCode }}">
                </div>
                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('supplierCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toSupplierId" 
                        formControlName="toSupplierId" value="{{ displayFormInput.toSupplierCode }}">
                </div>
            </div>
        </div>

        <div class="input_group">
            <label>仕入先名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="supplierName" formControlName="supplierName">
            </div>
        </div>

        <div class="input_group">
            <label>所有者コード</label>
            <div class="form-input">
                
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('ownerCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromOwnerCode" 
                        formControlName="fromOwnerId" value="{{ displayFormInput.fromOwnerCode }}">
                </div>
                <span>~</span>
                <div class="input_icon">

                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('ownerCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toOwnerCode" 
                        formControlName="toOwnerId" value="{{ displayFormInput.toOwnerCode }}">
                
                </div>
            
            </div>
        </div>

        <div class="input_group">
            <label>所有者名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="ownerName" formControlName="ownerName">
            </div>
        </div>

        <div class="input_group">
            <label>商品コード</label>
            <div class="form-input">

                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('productCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromProductCode" 
                        formControlName="fromProductId" value="{{ displayFormInput.fromProductCode }}">
                </div>
                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('productCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toProductCode" 
                        formControlName="toProductId" value="{{ displayFormInput.toProductCode }}">
                </div>

            </div>
        </div>

        <div class="input_group">
            <div class="input_table">
                <label>商品名称</label>
            </div>
            <div class="form-input">
                <input type="text" style="width: 302px;" name="productName" formControlName="productName">
            </div>
        </div>

        <div class="input_group">
            <label>倉庫</label>
            <div class="form-input">

                <select name="fromRepositoryId" formControlName="fromRepositoryId">

                    <option *ngFor="let repository of repositories" [value]="repository.repositoryId">
                        {{ repository.repositoryCode }} ~ {{ repository.repositoryName }}
                    </option>

                </select>
                <span>~</span>
                <select name="toRepositoryId" formControlName="toRepositoryId">
                    
                    <option *ngFor="let repository of repositories" [value]="repository.repositoryId">
                        {{ repository.repositoryCode }} ~ {{ repository.repositoryName }}
                    </option>
                </select>
            </div>
        </div>

        <div class="input_group">
            <label>バッチ番号</label>
            <div class="form-input">

                <input type="number" min="1" style="width: 302px;" name="batchNumber" formControlName="batchNumber">
            </div>
        </div>

        <div class="input_group">
            <label>出庫タイプ</label>
            <div class="form-input block_input_radio">
                <div class="input_icon input_radio">
                    <input type="radio" id="type_1" class="radio" name="deliveType" value="1" checked 
                                formControlName="deliveType">
                    <label for="type_1">全て</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="type_2" class="radio" name="deliveType" value="2"
                                formControlName="deliveType">
                    <label for="type_2">予定あり</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="type_3" class="radio" name="deliveType" value="3"
                                formControlName="deliveType">
                    <label for="type_3">実績のみ</label>
                </div>

            </div>
        </div>

        <div class="input_group">
            <label>出庫状態</label>
            <div class="form-input block_input_radio">

                <div class="input_icon input_radio">
                    <input type="radio" id="status_1" class="radio" name="deliveStatus" value="1" checked
                                formControlName="deliveStatus">
                    <label for="status_1">全て</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="status_2" class="radio" name="deliveStatus" value="2"
                                formControlName="deliveStatus">
                    <label for="status_2">未出庫</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="status_3" class="radio" name="deliveStatus" value="3"
                                formControlName="deliveStatus">
                    <label for="status_3">出庫残</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="status_4" class="radio" name="deliveStatus" value="4"
                                formControlName="deliveStatus">
                    <label for="status_4">出庫済</label>
                </div>

            </div>
        </div>

        <div class="input_group">
            <label>クローズ区分</label>
            <div class="form-input block_input_radio">

                <div class="input_icon input_radio">
                    <input type="radio" id="isClose_1" class="radio" name="isClosed" value="" checked
                                formControlName="isClosed">
                    <label for="isClose_1">全て</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="isClose_2" class="radio" name="isClosed" value="0" 
                                formControlName="isClosed">
                    <label for="isClose_2">未クローズ</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="isClose_3" class="radio" name="isClosed" value="1" 
                                formControlName="isClosed">
                    <label for="isClose_3">クローズ済</label>
                </div>

            </div>
        </div>

    <div class="control_form">

        <div class="btn-from btn-submit">
            <input type="submit" value="検索">
        </div>

        <div class="btn-from btn-reset">
            <input type="reset" value="クリア">
        </div>
    </div>

</form>