<form class="form_container" (ngSubmit)="getConditionsSearch()" [formGroup]="searchForm">

        <div class="input_group">
            <label>受注日</label>
            <div class="form-input">

                <input type="date" name="fromOrderDate" formControlName="fromOrderDate">
                <span>~</span>
                <input type="date" name="toOrderDate" formControlName="toOrderDate">
            </div>
            <div *ngIf="searchForm.errors?.['invalidDateRange']"
                class="invalidDateAlert">
                [fromOrderDate]は[toOrderDate]以下の値を指定してください。
            </div>
        </div>

        <div class="input_group">
            <label>出庫予定日</label>
            <div class="form-input">

                <input type="date" name="fromPlanOutputDate" formControlName="fromPlanOutputDate">
                <span>~</span>
                <input type="date" name="toPlanOutputDate" formControlName="toPlanOutputDate">
            </div>
        </div>

        <div class="input_group">
            <label>作業予定日</label>
            <div class="form-input">

                <input type="date" name="fromPlanWokingDate" formControlName="fromPlanWokingDate">
                <span>~</span>
                <input type="date" name="toPlanWokingDate" formControlName="toPlanWokingDate">
            </div>
        </div>

        <div class="input_group">
            <label>納品予定日</label>
            <div class="form-input">

                <input type="date" name="fromPlanDeliveDate" formControlName="fromPlanDeliveDate">
                <span>~</span>
                <input type="date" name="toPlanDeliveDate" formControlName="toPlanDeliveDate">
            </div>
        </div>

        <div class="input_group">
            <label>伝票番号</label>
            <div class="form-input">

                <input type="number" min="1" name="fromSlipNo" formControlName="fromSlipNo">
                <span>~</span>
                <input type="number" min="1" name="toSlipNo" formControlName="toSlipNo">
            </div>
        </div>

        <div class="input_group">
            <label>出荷先コード</label>
            <div class="form-input">

                <div class="input_icon">
                    <span class="block_icon_search" >
                        <mat-icon class="icon_search" (click)="openDialog('customerCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" 
                        formControlName="fromCustomerCode" value="{{ searchForm.get('fromCustomerCode')?.value }}">
                </div>

                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('customerCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" 
                        formControlName="toCustomerCode" value="{{ searchForm.get('toCustomerCode')?.value }}">
                </div>
            </div>
        </div>

        <div class="input_group">
            <label>出荷先名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="customerName" formControlName="customerName">
            </div>
        </div>

        <div class="input_group">
            <label>納品先コード</label>
            <div class="form-input">
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('destinationCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromDeliverDestId"
                        formControlName="fromDeliverDestCode" value="{{ searchForm.get('fromDeliverDestCode')?.value }}">
                </div>
                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('destinationCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toDeliverDestId"
                        formControlName="toDeliverDestCode" value="{{ searchForm.get('toDeliverDestCode')?.value }}">
                </div>
            </div>
        </div>

        <div class="input_group">
            <label>納品先名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="dileveDestName" 
                    formControlName="dileveDestName">
            </div>
        </div>

        <div class="input_group">
            <label>仕入先コード</label>
            <div class="form-input">
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('supplierCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromSupplierId" 
                        formControlName="fromSupplierCode" value="{{ searchForm.get('fromSupplierCode')?.value }}">
                </div>
                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('supplierCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toSupplierId" 
                        formControlName="toSupplierCode" value="{{ searchForm.get('toSupplierCode')?.value }}">
                </div>
            </div>
        </div>

        <div class="input_group">
            <label>仕入先名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="supplierName" formControlName="supplierName">
            </div>
        </div>

        <div class="input_group">
            <label>所有者コード</label>
            <div class="form-input">
                
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('ownerCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromOwnerCode" 
                        formControlName="fromOwnerCode" value="{{ searchForm.get('fromOwnerCode')?.value }}">
                </div>
                <span>~</span>
                <div class="input_icon">

                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('ownerCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toOwnerCode" 
                        formControlName="toOwnerCode" value="{{ searchForm.get('toOwnerCode')?.value }}">
                
                </div>
            
            </div>
        </div>

        <div class="input_group">
            <label>所有者名称</label>
            <div class="form-input">

                <input type="text" style="width: 302px;" name="ownerName" formControlName="ownerName">
            </div>
        </div>

        <div class="input_group">
            <label>商品コード</label>
            <div class="form-input">

                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('productCodeFrom')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="fromProductCode" 
                        formControlName="fromProductCode" value="{{ searchForm.get('fromProductCode')?.value }}">
                </div>
                <span>~</span>
                <div class="input_icon">
                    <span class="block_icon_search">
                        <mat-icon class="icon_search" (click)="openDialog('productCodeTo')" svgIcon="icon-search-input"></mat-icon>
                    </span>
                    <input type="text" class="input_text text" name="toProductCode" 
                        formControlName="toProductCode" value="{{ searchForm.get('toProductCode')?.value }}">
                </div>

            </div>
        </div>

        <div class="input_group">
            <div class="input_table">
                <label>商品名称</label>
            </div>
            <div class="form-input">
                <input type="text" style="width: 302px;" name="productName" formControlName="productName">
            </div>
        </div>

        <div class="input_group">
            <label>倉庫</label>
            <div class="form-input">

                <select name="fromRepositoryId" formControlName="fromRepositoryId">

                    <option *ngFor="let repository of repositories" [value]="repository.repositoryId">
                        {{ repository.repositoryCode }} ~ {{ repository.repositoryName }}
                    </option>

                </select>
                <span>~</span>
                <select name="toRepositoryId" formControlName="toRepositoryId">
                    
                    <option *ngFor="let repository of repositories" [value]="repository.repositoryId">
                        {{ repository.repositoryCode }} ~ {{ repository.repositoryName }}
                    </option>
                </select>
            </div>
        </div>

        <div class="input_group">
            <label>バッチ番号</label>
            <div class="form-input">

                <input type="number" min="1" style="width: 302px;" name="batchNumber" formControlName="batchNumber">
            </div>
        </div>

        <div class="input_group">
            <label>出庫タイプ</label>
            <div class="form-input block_input_radio">
                <div class="input_icon input_radio">
                    <input type="radio" id="type_1" class="radio" name="deliveType" value="1" checked 
                                formControlName="deliveType">
                    <label for="type_1">全て</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="type_2" class="radio" name="deliveType" value="2"
                                formControlName="deliveType">
                    <label for="type_2">予定あり</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="type_3" class="radio" name="deliveType" value="3"
                                formControlName="deliveType">
                    <label for="type_3">実績のみ</label>
                </div>

            </div>
        </div>

        <div class="input_group">
            <label>出庫状態</label>
            <div class="form-input block_input_radio">

                <div class="input_icon input_radio">
                    <input type="radio" id="status_1" class="radio" name="deliveStatus" value="1" checked
                                formControlName="deliveStatus">
                    <label for="status_1">全て</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="status_2" class="radio" name="deliveStatus" value="2"
                                formControlName="deliveStatus">
                    <label for="status_2">未出庫</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="status_3" class="radio" name="deliveStatus" value="3"
                                formControlName="deliveStatus">
                    <label for="status_3">出庫残</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="status_4" class="radio" name="deliveStatus" value="4"
                                formControlName="deliveStatus">
                    <label for="status_4">出庫済</label>
                </div>

            </div>
        </div>

        <div class="input_group">
            <label>クローズ区分</label>
            <div class="form-input block_input_radio">

                <div class="input_icon input_radio">
                    <input type="radio" id="isClose_1" class="radio" name="isClosed" value="" checked
                                formControlName="isClosed">
                    <label for="isClose_1">全て</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="isClose_2" class="radio" name="isClosed" value="0" 
                                formControlName="isClosed">
                    <label for="isClose_2">未クローズ</label>
                </div>

                <div class="input_icon input_radio">
                    <input type="radio" id="isClose_3" class="radio" name="isClosed" value="1" 
                                formControlName="isClosed">
                    <label for="isClose_3">クローズ済</label>
                </div>

            </div>
        </div>

    <div class="control_form">

        <div class="btn-from btn-submit">
            <input type="submit" value="検索">
        </div>

        <div class="btn-from btn-reset">
            <input type="reset" value="クリア">
        </div>
    </div>

</form>