@import "../../../../../../styles/styles-variables.scss";
/* CSS cho form */
.form-inventory-output {
  padding: 10px;
  background: #f9fcff;
  border: 0.5px solid #4392bb;
  min-width: 200px;

  .inventory-form {
    padding: 0;
    display: flex;
    flex-direction: column;

    .form-content {
      gap: 10px;

      .form-row {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        align-items: center;
        justify-content: space-between;

        .form-group {
          flex: 1 1 calc(25% - 10px); 
          display: flex;
          flex-direction: column;
          gap: 5px;

          .label {
            font-family: Noto Sans JP;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.014em;
            text-align: left;
            color: #485764;
            padding-top: 5px;
          }

          .form-inline {
            display: flex;
            align-items: center;
            gap: 10px;
         
            .input-wrapper {
              width: 100%;
              position: relative;
              .icon-input {
                position: absolute;
                display: flex;
                align-items: center;
                background-color: #4392bb;
                top: 50%;
                right: 10px;
                width: 16px;
                height: 16px;
                border-radius: 1px 0px 0px 0px;
                transform: translateY(-50%);
                cursor: pointer;
                transition: background-color 0.2s;
              }
            }

            .input-control {
              width: 100%;
              height: 30px !important;
              padding: 5px 10px;
              border: 1px solid #d6d6d6;
              border-radius: 2px;
              box-sizing: border-box;
              font-family: Noto Sans JP;
              letter-spacing: 0.014em;
              text-align: left;
              min-width: 150px !important;
            }
            .border-red {
              outline: none;
              border: 0.5px solid red !important;
            }
            .border-red:hover {
              border: 0.5px solid red !important;
            }

            .input-control:hover {
              border-color: #66afe9;
              background-color: #ffffff;
            }

            .input-control:focus {
              outline: none;
              border: 0.5px solid #4392bb;
            }
            .form-radio {
              height: 30px !important;
              padding: 5px 10px;
              border: 1px solid #D6D6D6;
              width: 100%;
              min-width: 300px !important;

              .radio {
                text-align: center;
                justify-items: center;
                padding-right: 15px;

                input {
                  height: 16px;
                  width: 16px;
                }
              }

            }

            .divider {
              font-weight: bold;
              color: #485764;
              text-align: center;
              margin-bottom: 0;
            }
          
          
          }
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: flex-end;
      padding: 5px;

      .form-btn {
        justify-self: flex-end;
        padding-top: 5px;

        .btn {
          display: inline-block;
          font-weight: 400;
          text-align: center;
          border: none;
          width: 56px !important;
          height: 30px !important;
          border-radius: 3px 0px 0px 0px;
          opacity: 0px;
          margin-left: 10px;
          cursor: pointer;
          transition: background-color 0.3s, transform 0.2s;
        }

        .save:hover {
          opacity: 0.8; 
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .save:active {
          background-color: #5794b5;
          transform: scale(0.95);
        }

        .refresh:hover {
          opacity: 0.8; 
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .refresh:active {
          background-color: #ffffff;
          transform: scale(0.95);
        }

        .save {
          background-color: #4392bb;
          color: #ffffff;
        }

        .refresh {
          color: #eb5757;
          background-color: #ffffff;
          border: 1px solid #d6d6d6;
        }
      }
    }
  }

  .input-control::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(51%) sepia(76%) saturate(332%) hue-rotate(155deg) brightness(88%) contrast(94%);
  

  }

  

  mat-icon {
    color: #ffffff !important;
    text-align: center;
    width: 16px;
    height: 16px;
  }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed; 
  }
  
  
  @media (max-width: 1444px) {
    .form-row {
      width: 100%;
      grid-template-columns: repeat(2, 1fr) !important; 
    }
  }

  @media (max-width: 800px) {
    .form-row {
      grid-template-columns: repeat(1, 1fr) !important; 
    }
  }
 
  
}


