<div class="form-inventory-output">
    <form class="inventory-form" [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">
        <div class="form-content flex-gap">
            <div class="form-row">
                <div class="form-group">
                    <div class="label">
                        <label>受注日</label>
                    </div>
                    <div class="form-inline">
                        <input matInput 
                            type="date" 
                            class="{{
                                searchForm.get('orderDateFrom')?.status !== 'VALID' &&
                                searchForm.get('orderDateFrom')?.touched
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="orderDateFrom" 
                            matTooltip="{{
                                (searchForm.get('orderDateFrom')?.status !== 'VALID' &&
                                searchForm.get('orderDateFrom')?.touched
                                    ? utils.getMessError(searchForm.get('orderDateFrom')?.errors,searchForm.get('orderDateFrom')?.value,searchForm.get('orderDateTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('orderDateFrom')?.status !== 'VALID' &&
                                searchForm.get('orderDateFrom')?.touched
                                    ? 'example-tooltip-red'
                                    : ''
                            }}">
                        <p class="divider">~</p>
                        <input matInput 
                        type="date" 
                        class="{{
                            searchForm.get('orderDateFrom')?.status !== 'VALID' &&
                            searchForm.get('orderDateFrom')?.touched
                                ? 'border-red input-control'
                                : ' input-control '
                        }}"
                         formControlName="orderDateTo"
                         matTooltip="{{
                                (searchForm.get('orderDateTo')?.status !== 'VALID' &&
                                searchForm.get('orderDateTo')?.touched
                                    ? utils.getMessError(searchForm.get('orderDateTo')?.errors ,searchForm.get('orderDateFrom')?.value,searchForm.get('orderDateTo')?.value)
                                    : '') | translate
                            }}"
                         matTooltipClass="{{
                                searchForm.get('orderDateTo')?.status !== 'VALID' &&
                                searchForm.get('orderDateTo')?.touched
                                    ? 'example-tooltip-red'
                                    : ''
                            }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>出庫予定日</label>
                    </div>
                    <div class="form-inline">
                        <input matInput 
                        type="date" 
                        class="{{
                            searchForm.get('planOutputDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planOutputDateFrom')?.touched
                                ? 'border-red input-control'
                                : ' input-control '
                        }}"
                        formControlName="planOutputDateFrom" 
                        matTooltip="{{
                            (searchForm.get('planOutputDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planOutputDateFrom')?.touched
                                ? utils.getMessError(searchForm.get('planOutputDateFrom')?.errors,searchForm.get('planOutputDateFrom')?.value,searchForm.get('planOutputDateTo')?.value)
                                : '') | translate
                        }}"
                        matTooltipClass="{{
                            searchForm.get('planOutputDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planOutputDateFrom')?.touched
                                ? 'example-tooltip-red'
                                : ''
                        }}">

                        <p class="divider">~</p>
                        <input matInput 
                        type="date" 
                        class="{{
                            searchForm.get('planOutputDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planOutputDateFrom')?.touched
                                ? 'border-red input-control'
                                : ' input-control '
                        }}"
                        formControlName="planOutputDateTo" 
                        matTooltip="{{
                            (searchForm.get('planOutputDateTo')?.status !== 'VALID' &&
                            searchForm.get('planOutputDateTo')?.touched
                                ? utils.getMessError(searchForm.get('planOutputDateTo')?.errors,searchForm.get('planOutputDateFrom')?.value,searchForm.get('planOutputDateTo')?.value)
                                : '') | translate
                        }}"
                        matTooltipClass="{{
                            searchForm.get('planOutputDateTo')?.status !== 'VALID' &&
                            searchForm.get('planOutputDateTo')?.touched
                                ? 'example-tooltip-red'
                                : ''
                        }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>作業予定日</label>
                    </div>
                    <div class="form-inline">
                        <input matInput 
                        type="date" 
                        class="{{
                            searchForm.get('planWorkingDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planWorkingDateFrom')?.touched
                                ? 'border-red input-control'
                                : ' input-control '
                        }}"
                        formControlName="planWorkingDateFrom" 
                        matTooltip="{{
                            (searchForm.get('planWorkingDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planWorkingDateFrom')?.touched
                                ? utils.getMessError(searchForm.get('planWorkingDateFrom')?.errors,searchForm.get('planWorkingDateFrom')?.value,searchForm.get('planWorkingDateTo')?.value)
                                : '') | translate
                        }}"
                        matTooltipClass="{{
                            searchForm.get('planWorkingDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planWorkingDateFrom')?.touched
                                ? 'example-tooltip-red'
                                : ''
                        }}">  
                        <p class="divider">~</p>
                        <input matInput 
                        type="date" 
                        class="{{
                            searchForm.get('planWorkingDateFrom')?.status !== 'VALID' &&
                            searchForm.get('planWorkingDateFrom')?.touched
                                ? 'border-red input-control'
                                : ' input-control '
                        }}"
                        formControlName="planWorkingDateTo" 
                        matTooltip="{{
                            (searchForm.get('planWorkingDateTo')?.status !== 'VALID' &&
                            searchForm.get('planWorkingDateTo')?.touched
                                ? utils.getMessError(searchForm.get('planWorkingDateTo')?.errors,searchForm.get('planWorkingDateFrom')?.value,searchForm.get('planWorkingDateTo')?.value)
                                : '') | translate
                        }}"
                        matTooltipClass="{{
                            searchForm.get('planWorkingDateTo')?.status !== 'VALID' &&
                            searchForm.get('planWorkingDateTo')?.touched
                                ? 'example-tooltip-red'
                                : ''
                        }}"> 
                     </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>納品予定日</label>
                    </div>
                    <div class="form-inline">
                        <input type="date" class="input-control" formControlName="planDeliverDateFrom">
                        <p class="divider">~</p>
                        <input type="date" class="input-control" formControlName="planDeliverDateTo">
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group">
                    <div class="label">
                        <label>伝票番号</label>
                    </div>
                    <div class="form-inline">
                        <input matInput 
                        type="text" 
                        class="{{
                            searchForm.get('slipNoFrom')?.status !== 'VALID' &&
                            searchForm.get('slipNoFrom')?.touched
                                ? 'border-red input-control'
                                : ' input-control '
                        }}"
                        formControlName="slipNoFrom" 
                        matTooltip="{{
                            (searchForm.get('slipNoFrom')?.status !== 'VALID' &&
                            searchForm.get('slipNoFrom')?.touched
                                ? utils.getMessError(searchForm.get('slipNoFrom')?.errors,searchForm.get('slipNoFrom')?.value,searchForm.get('slipNoTo')?.value)
                                : '') | translate
                        }}"
                        matTooltipClass="{{
                            searchForm.get('slipNoFrom')?.status !== 'VALID' &&
                            searchForm.get('slipNoFrom')?.touched
                                ? 'example-tooltip-red'
                                : ''
                        }}">
                        <p class="divider">~</p>
                        <input matInput 
                        type="text" 
                        class="{{
                            searchForm.get('slipNoTo')?.status !== 'VALID' &&
                            searchForm.get('slipNoTo')?.touched
                                ? 'border-red input-control'
                                : ' input-control '
                        }}"
                        formControlName="slipNoTo" 
                        matTooltip="{{
                            (searchForm.get('slipNoTo')?.status !== 'VALID' &&
                            searchForm.get('slipNoTo')?.touched
                                ? utils.getMessError(searchForm.get('slipNoTo')?.errors,searchForm.get('slipNoFrom')?.value,searchForm.get('slipNoTo')?.value)
                                : '') | translate
                        }}"
                        matTooltipClass="{{
                            searchForm.get('slipNoTo')?.status !== 'VALID' &&
                            searchForm.get('slipNoTo')?.touched
                                ? 'example-tooltip-red'
                                : ''
                        }}">
                        </div>
                </div>
                <div class="form-group ">
                    <div class="label">
                        <label>納品先名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" formControlName="departmentName">

                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>出荷先コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('supplierCodeFrom')?.status !== 'VALID'
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="supplierCodeFrom" 
                            matTooltip="{{
                                (searchForm.get('supplierCodeFrom')?.status !== 'VALID'
                                    ? utils.getMessError(searchForm.get('supplierCodeFrom')?.errors,searchForm.get('supplierCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('supplierCodeFrom')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                            <div class="icon-input" (click)="openDialog('supplierCodeFrom')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('supplierCodeTo')?.status !== 'VALID'
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="supplierCodeTo" 
                            matTooltip="{{
                                (searchForm.get('supplierCodeTo')?.status !== 'VALID'
                                    ? utils.getMessError(searchForm.get('supplierCodeFrom')?.errors,searchForm.get('supplierCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('supplierCodeTo')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                            <div class="icon-input" (click)="openDialog('supplierCodeTo')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="label">
                        <label>商品名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" formControlName="supplierName">

                    </div>
                </div>


            </div>
            <div class="form-row">
                <div class="form-group">
                    <div class="label">
                        <label>所有者コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('customerCodeFrom')?.status !== 'VALID'
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="customerCodeFrom" 
                            matTooltip="{{
                                (searchForm.get('customerCodeFrom')?.status !== 'VALID'
                                    ? utils.getMessError(searchForm.get('customerCodeFrom')?.errors,searchForm.get('customerCodeFrom')?.value,searchForm.get('customerCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('customerCodeFrom')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                            <div class="icon-input" (click)="openDialog('customerCodeFrom')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p> 
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('customerCodeTo')?.status !== 'VALID' 
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="customerCodeTo" 
                            matTooltip="{{
                                (searchForm.get('customerCodeTo')?.status !== 'VALID' 
                                    ? utils.getMessError(searchForm.get('customerCodeTo')?.errors,searchForm.get('customerCodeFrom')?.value,searchForm.get('customerCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('customerCodeTo')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                             <div class="icon-input" (click)="openDialog('customerCodeTo')">
                                <mat-icon class="search-input special-icon" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="label">
                        <label>所有者名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" formControlName="customerName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>仕入先コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input type="text" class="input-control" formControlName="ownerCodeForm">
                            <div class="icon-input" (click)="openDialog('ownerCodeForm')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input type="text" class="input-control" formControlName="ownerCodeTo">
                            <div class="icon-input" (click)="openDialog('ownerCodeTo')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="label">
                        <label>仕入先名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" formControlName="customerName">
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group">
                    <div class="label">
                        <label>納品先コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('destinationCodeFrom')?.status !== 'VALID'
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="destinationCodeFrom" 
                            matTooltip="{{
                                (searchForm.get('destinationCodeFrom')?.status !== 'VALID'
                                    ? utils.getMessError(searchForm.get('destinationCodeFrom')?.errors,searchForm.get('destinationCodeFrom')?.value,searchForm.get('destinationCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('destinationCodeFrom')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                            <div class="icon-input" (click)="openDialog('destinationCodeFrom')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('destinationCodeTo')?.status !== 'VALID'
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="destinationCodeTo" 
                            matTooltip="{{
                                (searchForm.get('destinationCodeTo')?.status !== 'VALID'
                                    ? utils.getMessError(searchForm.get('destinationCodeTo')?.errors,searchForm.get('customerCodeFrom')?.value,searchForm.get('customerCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('destinationCodeTo')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                            <div class="icon-input" (click)="openDialog('destinationCodeTo')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="label">
                        <label>バッチ番号</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" formControlName="batchNo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>商品コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('productCodeFrom')?.status !== 'VALID'
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="productCodeFrom" 
                            matTooltip="{{
                                (searchForm.get('productCodeFrom')?.status !== 'VALID'
                                    ? utils.getMessError(searchForm.get('productCodeFrom')?.errors,searchForm.get('productCodeFrom')?.value,searchForm.get('productCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('productCodeFrom')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                            <div class="icon-input" (click)="openDialog('productCodeFrom')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input matInput 
                            type="text" 
                            class="{{
                                searchForm.get('productCodeTo')?.status !== 'VALID'
                                    ? 'border-red input-control'
                                    : ' input-control '
                            }}"
                            formControlName="productCodeTo" 
                            matTooltip="{{
                                (searchForm.get('productCodeTo')?.status !== 'VALID'
                                    ? utils.getMessError(searchForm.get('productCodeTo')?.errors,searchForm.get('productCodeFrom')?.value,searchForm.get('productCodeTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('productCodeTo')?.status !== 'VALID'
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"> 
                              <div class="icon-input" (click)="openDialog('productCodeTo')">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>商品名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" formControlName="productName">
                    </div>
                </div>


            </div>
            <div class="form-row">
                <div class="form-group">
                    <div class="label">
                        <label>倉庫</label>
                    </div>
                    <div class="form-inline">
                        <select
                        matInput 
                            class="{{
                                searchForm.get('repositoryIdFrom')?.status !== 'VALID' &&
                                searchForm.get('repositoryIdFrom')?.touched
                                    ? 'border-red input-control'
                                    : 'input-control'
                            }}"
                            formControlName="repositoryIdFrom"
                            matTooltip="{{
                                (searchForm.get('repositoryIdFrom')?.status !== 'VALID' &&
                                searchForm.get('repositoryIdFrom')?.touched
                                    ? utils.getMessError(searchForm.get('repositoryIdFrom')?.errors, searchForm.get('repositoryIdFrom')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('repositoryIdFrom')?.status !== 'VALID' &&
                                searchForm.get('repositoryIdFrom')?.touched
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"
                        >
                            <!-- Hiển thị các repository -->
                            <option *ngFor="let repo of repositories" [value]="repo.repository_id">
                              {{repo.repository_id}} +  {{ repo.repositoryName }}
                            </option>
                        </select>
                        <p class="divider">~</p>
                        <select
                        matInput 
                            class="{{
                                searchForm.get('repositoryIdTo')?.status !== 'VALID' &&
                                searchForm.get('repositoryIdTo')?.touched
                                    ? 'border-red input-control'
                                    : 'input-control'
                            }}"
                            formControlName="repositoryIdTo"
                            matTooltip="{{
                                (searchForm.get('repositoryIdTo')?.status !== 'VALID' &&
                                searchForm.get('repositoryIdTo')?.touched
                                    ? utils.getMessError(searchForm.get('repositoryIdTo')?.errors, searchForm.get('repositoryIdTo')?.value)
                                    : '') | translate
                            }}"
                            matTooltipClass="{{
                                searchForm.get('repositoryIdTo')?.status !== 'VALID' &&
                                searchForm.get('repositoryIdTo')?.touched
                                    ? 'example-tooltip-red'
                                    : ''
                            }}"
                        >
                            <!-- Hiển thị các repository -->
                            <option *ngFor="let repo of repositories" [value]="repo.repository_id">
                                {{ repo.repositoryName }}+ {{repo.repository_id}}
                            </option>
                        </select>
                    </div>
                    
                </div>
                <div class="form-group ">
                    <div class="label">
                        <label>クローズ区分</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-radio">
                            <label class="radio">
                                <input type="radio" formControlName="isClosed" value='2'> 全て
                            </label>
                            <label class="radio">
                                <input type="radio" formControlName="isClosed" value=0> 未クローズ
                            </label>
                            <label class="radio">
                                <input type="radio" formControlName="isClosed" value=1> クローズ済
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>出庫状態</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-radio">
                            <label class="radio">
                                <input type="radio" formControlName="DeliveryStatus" value="0"> 全て
                            </label>
                            <label class="radio">
                                <input type="radio" formControlName="DeliveryStatus" value="1"> 未出庫
                            </label>
                            <label class="radio">
                                <input type="radio" formControlName="DeliveryStatus" value="2"> 出庫残
                            </label>
                            <label class="radio">
                                <input type="radio" formControlName="DeliveryStatus" value="3"> 出庫済
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>出庫タイプ</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-radio">
                            <label class="radio">
                                <input type="radio" formControlName="DeliveryType" value="0"> 全て
                            </label>
                            <label class="radio">
                                <input type="radio" formControlName="DeliveryType" value="1"> 未クローズ
                            </label>
                            <label class="radio">
                                <input type="radio" formControlName="DeliveryType" value="2"> クローズ済
                            </label>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="btn-container">
            <div class="form-btn">
                <button type="submit" class="btn save" [disabled]="searchForm.invalid" >検索</button>
                <button type="button" class="btn refresh" (click)="reset()">クリア</button> <!-- Reset form -->
            </div>

        </div>
    </form>

</div>