<div class="form-inventory-input">
    <form class="inventory-form" >
        <div class="form-content">
            <div class="form-col">
                <div class="form-group">
                    <div class="label">
                        <label>所有者コード</label>
                    </div>
                    <div class="form-inline">
                        <input type="date" class="input-control" >
                        <p class="divider">~</p>
                        <input type="date" class="input-control" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>仕入先コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>所有者コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- bỏ -->
                <div class="form-group">
                    <div class="label">
                        <label>倉庫</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" >
                        <p class="divider">~</p>
                        <input type="text" class="input-control" >
                    </div>
                </div>

            </div>

            <div class="form-col">
                <div class="form-group">
                    <div class="label">
                        <label>入庫実績日</label>
                    </div>
                    <div class="form-inline">
                        <input type="date" class="input-control" >

                        <p class="divider">~</p>
                        <input type="date" class="input-control" >
                    </div>
                </div>

                <div class="form-group ">
                    <div class="label">
                        <label>仕入先名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" >

                    </div>
                </div>
                <div class="form-group ">
                    <div class="label">
                        <label>所有者名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" >
                    </div>
                </div>
              
                <div class="form-group ">
                    <div class="label">
                        <label>入庫タイプ</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-radio">
                            <label class="radio">
                                <input type="radio"  value='2'> 全て
                            </label>
                            <label class="radio">
                                <input type="radio"  value=0> 未クローズ
                            </label>
                            <label class="radio">
                                <input type="radio"  value=1> クローズ済
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-col">
                <div class="form-group">
                    <div class="label">
                        <label>伝票番号</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control">
                        <p class="divider">~</p>
                        <input type="text" class="input-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>支払先コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>商品コード</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                        <p class="divider">~</p>
                        <div class="input-wrapper">
                            <input type="text" class="input-control" >
                            <div class="icon-input">
                                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>入庫状態</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-radio">
                            <label class="radio">
                                <input type="radio" value="0"> 全て
                            </label>
                            <label class="radio">
                                <input type="radio" value="1"> 未入庫
                            </label>
                            <label class="radio">
                                <input type="radio" value="2"> 入庫残
                            </label>
                            <label class="radio">
                                <input type="radio" value="3"> 入庫済
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-col">
                <div class="form-group">
                    <div class="label">
                        <label>客先伝票番号</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" >
                        <p class="divider">~</p>
                        <input type="text" class="input-control" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="label">
                        <label>支払先名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control" >

                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>商品名称</label>
                    </div>
                    <div class="form-inline">
                        <input type="text" class="input-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>クローズ区分</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-radio">
                            <label class="radio">
                                <input type="radio"  value="0"> 全て
                            </label>
                            <label class="radio">
                                <input type="radio"  value="1"> 未クローズ
                            </label>
                            <label class="radio">
                                <input type="radio"  value="2"> クローズ済
                            </label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="btn-container">
            <div class="form-btn">
                <button type="submit" class="btn save">検索</button>
                <button type="button" class="btn refresh">クリア</button> <!-- Reset form -->
            </div>

        </div>
    </form>

</div>