<div class="container">
    <div class="info-title">
        <div class="left-title">
            <button class="btn btn-secondary">
                <mat-icon svgIcon="icon-left" class="icon-angle-left"></mat-icon>
                <span class="back-label">戻る</span>
            </button>
        </div>
        <div class="right-title">
            <span class="status-label">出庫状態</span>
            <span class="receipt-status">未出庫</span>
            <button class="btn btn-secondary isClosed">クローズ</button>
            <button class="btn btn-warning">
                <mat-icon svgIcon="icon-delete-red" class="delete-icon"></mat-icon>
                <span class="delete-label">削除</span>
            </button>

            <button class="btn btn-primary">
                <mat-icon svgIcon="icon-save" class="save-icon"></mat-icon>
                <span class="save-label">保存</span>
            </button>
        </div>
    </div>
    <div class="info-content">
        <div>11</div>
        <div>22</div>
        <div>33</div>
        <div>44</div>
        <div>55</div>

    </div>
</div>
