<div class="container" [hidden]="isHiddenSearch">
  <form [formGroup]="searchOutputForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- Input Row 1 -->
    <div class="input-cover">
      <!-- Input wrapper 1 -->
      <div class="input-wrapper">
        <!-- Order Date Input -->
        <div>
          <div class="input-label">
            <label for="orderDateFrom">受注日</label>
          </div>
          <div class="input-date">
            <input
              class="input-from-to"
              type="date"
              id="orderDateFrom"
              name="orderDateFrom"
              formControlName="orderDateFrom"
            />
            <span class="icon-from-to">~</span>

            <input
              class="input-from-to"
              type="date"
              id="orderDateTo"
              name="orderDateTo"
              formControlName="orderDateTo"
            />
          </div>
          <div
            class="error-input"
            *ngIf="
              !orderDateFrom?.valid &&
              (orderDateFrom?.dirty || orderDateFrom?.touched)
            "
          >
            <div
              [hidden]="!orderDateFrom?.errors?.['dateInvalidFrom'] && !orderDateTo?.errors?.['dateInvalidTo'] "
            >
              <small class="error-message">
                The end date must be after the start date</small
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Input wrapper 2 -->
      <div class="input-wrapper">
        <!-- Plan Output Date Input -->
        <div>
          <div class="input-label">
            <label for="planOutputDateFrom">受注日</label>
          </div>
          <div class="input-date">
            <input
              class="input-from-to"
              type="date"
              id="planOutputDateFrom"
              name="planOutputDateFrom"
              formControlName="planOutputDateFrom"
            />
            <span class="icon-from-to">~</span>
            <input
              class="input-from-to"
              type="date"
              id="planOutputDateTo"
              name="planOutputDateTo"
              formControlName="planOutputDateTo"
            />
          </div>
          <div
            class="error-input"
            *ngIf="
              !planOutputDateFrom?.valid &&
              (planOutputDateFrom?.dirty || planOutputDateFrom?.touched)
            "
          >
            <div
              [hidden]="!planOutputDateFrom?.errors?.['dateInvalidFrom'] && !planOutputDateTo?.errors?.['dateInvalidTo'] "
            >
              <small class="error-message">
                End date must after before date</small
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Input wrapper 3 -->
      <div class="input-wrapper">
        <!-- Plan Wroking Day Input -->
        <div>
          <div class="input-label">
            <label for="planWorkingDayFrom">作業予定日</label>
          </div>
          <div class="input-date">
            <input
              class="input-from-to"
              type="date"
              id="planWorkingDayFrom"
              name="planWorkingDayFrom"
              formControlName="planWorkingDayFrom"
            />
            <span class="icon-from-to">~</span>
            <input
              class="input-from-to"
              type="date"
              id="planWorkingDayTo"
              name="planWorkingDayTo"
              formControlName="planWorkingDayTo"
            />
          </div>
          <div
            class="error-input"
            *ngIf="
              !planWorkingDayFrom?.valid &&
              (planWorkingDayFrom?.dirty || planWorkingDayFrom?.touched)
            "
          >
            <div
              [hidden]="!planWorkingDayFrom?.errors?.['dateInvalidFrom'] && !planWorkingDayTo?.errors?.['dateInvalidTo'] "
            >
              <small class="error-message">
                The end date must be after the start date</small
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Input wrapper 4 -->
      <div class="input-wrapper">
        <!-- Plan Delivery Date Input -->
        <div>
          <div class="input-label">
            <label for="planDeliverDateFrom">納品予定日</label>
          </div>
          <div class="input-date">
            <input
              class="input-from-to"
              type="date"
              id="planDeliverDateFrom"
              name="planDeliverDateFrom"
              formControlName="planDeliverDateFrom"
            />
            <span class="icon-from-to">~</span>
            <input
              class="input-from-to"
              type="date"
              id="planDeliverDateTo"
              name="planDeliverDateTo"
              formControlName="planDeliverDateTo"
            />
          </div>
          <div
            class="error-input"
            *ngIf="
              !planDeliverDateFrom?.valid &&
              (planDeliverDateFrom?.dirty || planDeliverDateFrom?.touched)
            "
          >
            <div
              [hidden]="!planDeliverDateFrom?.errors?.['dateInvalidFrom'] && !planDeliverDateTo?.errors?.['dateInvalidTo'] "
            >
              <small class="error-message">
                The end date must be after the start date</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Input Row 2 -->
    <div class="input-cover">
      <div class="input-wrapper">
        <!-- Slip No Input -->
        <div>
          <div class="input-label">
            <label for="slipNoFrom">伝票番号</label>
          </div>
          <div class="input-date">
            <input
              class="input-from-to"
              type="text"
              id="slipNoFrom"
              name="slipNoFrom"
              formControlName="slipNoFrom"
            />
            <span class="icon-from-to">~</span>
            <input
              class="input-from-to"
              type="text"
              id="slipNoTo"
              name="slipNoTo"
              formControlName="slipNoTo"
            />
          </div>
          <div
            class="error-input"
            *ngIf="
              !slipNoFrom?.valid && (slipNoFrom?.dirty || slipNoFrom?.touched)
            "
          >
            <div
              [hidden]="!slipNoFrom?.errors?.['valueInvalidFrom'] && !slipNoTo?.errors?.['valueInvalidTo'] "
            >
              <small class="error-message">
                The end Slip No must be greater than the start Slip No</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <!-- Batch No Input -->
        <div>
          <div class="input-label">
            <label for="batchNo">バッチ番号</label>
          </div>
          <div class="input-date">
            <input
              type="text"
              id="batchNo"
              name="batchNo"
              formControlName="batchNo"
            />
          </div>
        </div>
      </div>

      <div class="input-wrapper">
        <!-- Customer ID Input -->
        <div>
          <div class="input-label">
            <label for="customerCodeFrom">出荷先コード</label>
          </div>
          <div class="input-date">
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="customerCodeFrom"
                name="customerCodeFrom"
                formControlName="customerCodeFrom"
              />
              <mat-icon
                (click)="openSearchDialog('customerCodeFrom')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>

            <span class="icon-from-to">~</span>
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="customerCodeTo"
                name="customerCodeTo"
                formControlName="customerCodeTo"
              />
              <mat-icon
                (click)="openSearchDialog('customerCodeTo')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>
          </div>
          <div
            class="error-input"
            *ngIf="
              !customerCodeFrom?.valid &&
              (customerCodeFrom?.dirty || customerCodeFrom?.touched)
            "
          >
            <div
              [hidden]="!customerCodeFrom?.errors?.['valueInvalidFrom'] && !customerCodeTo?.errors?.['valueInvalidTo'] "
            >
              <small class="error-message">
                The end Code must be greater than the start Code</small
              >
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrapper">
        <!-- Customer Name Input -->
        <div>
          <div class="input-label">
            <label for="customerName">作業予定日</label>
          </div>
          <div class="input-date">
            <input
              class="input-single"
              type="text"
              id="customerName"
              name="customerName"
              formControlName="customerName"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Input Row 3 -->
    <div class="input-cover">
      <div class="input-wrapper">
        <!-- Destination Id Input -->
        <div>
          <div class="input-label">
            <label for="destinationCodeFrom">納品先コード</label>
          </div>
          <div class="input-date">
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="destinationCodeFrom"
                name="destinationCodeFrom"
                formControlName="destinationCodeFrom"
              />
              <mat-icon
                (click)="openSearchDialog('destinationCodeFrom')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>

            <span class="icon-from-to">~</span>
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="destinationCodeTo"
                name="destinationCodeTo"
                formControlName="destinationCodeTo"
              />
              <mat-icon
                (click)="openSearchDialog('destinationCodeTo')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>
          </div>
          <div
            class="error-input"
            *ngIf="
              !destinationCodeFrom?.valid &&
              (destinationCodeFrom?.dirty || destinationCodeFrom?.touched)
            "
          >
            <div
              [hidden]="!destinationCodeFrom?.errors?.['valueInvalidFrom'] && !destinationCodeTo?.errors?.['valueInvalidTo'] "
            >
              <small class="error-message">
                The end Code must be greater than the start Code</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <!-- Department Name Input -->
        <div>
          <div class="input-label">
            <label for="departmentName">納品先名称</label>
          </div>
          <div class="input-date">
            <input
              type="text"
              id="departmentName"
              name="departmentName"
              formControlName="departmentName"
            />
          </div>
        </div>
      </div>

      <div class="input-wrapper">
        <!-- Supplier ID Input -->
        <div>
          <div class="input-label">
            <label for="supplierCodeFrom">仕入先コード</label>
          </div>
          <div class="input-date">
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="supplierCodeFrom"
                name="supplierCodeFrom"
                formControlName="supplierCodeFrom"
              />
              <mat-icon
                (click)="openSearchDialog('supplierCodeFrom')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>

            <span class="icon-from-to">~</span>
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="supplierCodeTo"
                name="supplierCodeTo"
                formControlName="supplierCodeTo"
              />
              <mat-icon
                (click)="openSearchDialog('supplierCodeTo')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>
          </div>
          <div
            class="error-input"
            *ngIf="
              !supplierCodeFrom?.valid &&
              (supplierCodeFrom?.dirty || supplierCodeFrom?.touched)
            "
          >
            <div
              [hidden]="!supplierCodeFrom?.errors?.['valueInvalidFrom'] && !supplierCodeTo?.errors?.['valueInvalidTo'] "
            >
              <small class="error-message">
                The end Code must be greater than the start Code</small
              >
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrapper">
        <!-- Supplier Name Input -->
        <div>
          <div class="input-label">
            <label for="supplierName">仕入先名称</label>
          </div>
          <div class="input-date">
            <input
              type="text"
              id="supplierName"
              name="supplierName"
              formControlName="supplierName"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Input Row 4 -->
    <div class="input-cover">
      <div class="input-wrapper">
        <!-- Owner Id Input -->
        <div>
          <div class="input-label">
            <label for="ownerIdFrom">所有者コード</label>
          </div>
          <div class="input-date">
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="ownerIdFrom"
                name="ownerIdFrom"
                formControlName="ownerIdFrom"
              />
              <mat-icon
                (click)="openSearchDialog('ownerIdFrom')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>

            <span class="icon-from-to">~</span>
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="ownerIdTo"
                name="ownerIdTo"
                formControlName="ownerIdTo"
              />
              <mat-icon
                (click)="openSearchDialog('ownerIdTo')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>
          </div>
          <div
            class="error-input"
            *ngIf="
              !ownerIdFrom?.valid &&
              (ownerIdFrom?.dirty || ownerIdFrom?.touched)
            "
          >
            <div
              [hidden]="!ownerIdFrom?.errors?.['valueInvalidFrom'] && !ownerIdTo?.errors?.['valueInvalidTo'] "
            >
              <small class="error-message">
                The end Code must be greater than the start Code</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <!-- Owner Name Input -->
        <div>
          <div class="input-label">
            <label for="ownerName">所有者名称</label>
          </div>
          <div class="input-date">
            <input
              type="text"
              id="ownerName"
              name="ownerName"
              formControlName="ownerName"
            />
          </div>
        </div>
      </div>

      <div class="input-wrapper">
        <!-- Product ID Input -->
        <div>
          <div class="input-label">
            <label for="productCodeFrom">商品コード</label>
          </div>
          <div class="input-date">
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="productCodeFrom"
                name="productCodeFrom"
                formControlName="productCodeFrom"
              />
              <mat-icon
                (click)="openSearchDialog('productCodeFrom')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>

            <span class="icon-from-to">~</span>
            <div class="input-dialog">
              <input
                class="input-from-to"
                type="text"
                id="productCodeTo"
                name="productCodeTo"
                formControlName="productCodeTo"
              />
              <mat-icon
                (click)="openSearchDialog('productCodeTo')"
                class="icon-dialog"
                svgIcon="icon-search-input"
              ></mat-icon>
            </div>
          </div>
          <div
            class="error-input"
            *ngIf="
              !productCodeFrom?.valid &&
              (productCodeFrom?.dirty || productCodeFrom?.touched)
            "
          >
            <div
              [hidden]="!productCodeFrom?.errors?.['valueInvalidFrom'] && !productCodeTo?.errors?.['valueInvalidTo'] "
            >
              <small class="error-message">
                The end Code must be greater than the start Code</small
              >
            </div>
          </div>
        </div>
      </div>

      <div class="input-wrapper">
        <!-- Product Name Input -->
        <div>
          <div class="input-label">
            <label for="productName">商品名称</label>
          </div>
          <div class="input-date">
            <input
              type="text"
              id="productName"
              name="productName"
              formControlName="productName"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Input Row 5 -->
    <div class="input-cover">
      <div class="input-wrapper">
        <!-- Repository Input -->
        <div>
          <div class="input-label">
            <label for="repositoryIdFrom">倉庫</label>
          </div>
          <div class="input-date">
            <select
              id="repositoryIdFrom"
              name="repositoryIdFrom"
              formControlName="repositoryIdFrom"
            >
              <option *ngFor="let item of datable" [value]="item.repositoryId">
                {{ item.repositoryCode }} - {{ item.repositoryName }}
              </option>
            </select>
            <span class="icon-from-to">~</span>
            <select
              id="repositoryIdTo"
              name="repositoryIdTo"
              formControlName="repositoryIdTo"
            >
              <option *ngFor="let item of datable" [value]="item.repositoryId">
                {{ item.repositoryCode }} - {{ item.repositoryName }}
              </option>
            </select>
          </div>
          <div
            class="error-input"
            *ngIf="
              !repositoryIdFrom?.valid &&
              (repositoryIdFrom?.dirty || repositoryIdFrom?.touched)
            "
          >
            <div
              [hidden]="!repositoryIdFrom?.errors?.['valueInvalidFrom'] && !repositoryIdTo?.errors?.['valueInvalidTo'] "
            >
              <small class="error-message">
                The end Code must be greater than the start Code</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <!-- Delivery Type Input -->
        <div class="input-label">
          <label for="deliveryType">出庫タイプ</label>
        </div>
        <div class="input-radio-cover">
          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="deliveryType"
              name="deliveryType"
              formControlName="deliveryType"
              value="0"
              checked
            />
            <span class="radio-name">全て</span>
          </div>

          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="deliveryType"
              name="deliveryType"
              formControlName="deliveryType"
              value="1"
            />
            <span class="radio-name">予定あり</span>
          </div>

          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="deliveryType"
              name="deliveryType"
              formControlName="deliveryType"
              value="2"
            />
            <span class="radio-name">予定あり</span>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <!-- Delivery Status Input -->
        <div class="input-label">
          <label for="deliveryStatus">出庫状態</label>
        </div>
        <div class="input-radio-cover">
          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="deliveryStatus_0"
              name="deliveryStatus"
              formControlName="deliveryStatus"
              value="0"
              checked
            />
            <span class="radio-name">全て</span>
          </div>

          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="deliveryStatus_1"
              name="deliveryStatus"
              formControlName="deliveryStatus"
              value="1"
            />
            <span class="radio-name">未出庫</span>
          </div>

          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="deliveryStatus_2"
              name="deliveryStatus"
              formControlName="deliveryStatus"
              value="2"
            />
            <span class="radio-name">出庫残</span>
          </div>
          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="deliveryStatus_3"
              name="deliveryStatus"
              formControlName="deliveryStatus"
              value="3"
            />
            <span class="radio-name">出庫済</span>
          </div>
        </div>
      </div>

      <div class="input-wrapper">
        <!-- IsClosed Input -->
        <div class="input-label">
          <label for="isClosed">クローズ区分</label>
        </div>
        <div class="input-radio-cover">
          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="isClosed_0"
              name="isClosed"
              formControlName="isClosed"
              value="9"
              checked
            />
            <span class="radio-name">全て</span>
          </div>

          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="isClosed_1"
              name="isClosed"
              formControlName="isClosed"
              value="0"
            />
            <span class="radio-name">未クローズ</span>
          </div>

          <div class="radio-item">
            <input
              class="radio-btn"
              type="radio"
              id="isClosed_2"
              name="isClosed"
              formControlName="isClosed"
              value="1"
            />
            <span class="radio-name">クローズ済</span>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-search">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!searchOutputForm.valid"
      >
        検索
      </button>
      <button class="btn btn-secondary" type="button" (click)="resetForm()">
        クリア
      </button>
    </div>
  </form>
</div>
