@import "src/styles/styles-variables.scss";
.container {
  width: 100%;
  height: auto;
  border-radius: 2px;
  border: 0.5px solid #4392bb;
  background-color: #f9fcff;
  margin-top: 7px;
}
.input-cover {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7px;
}
.input-wrapper {
  padding-left: 12px;
  padding-right: 12px;
  flex-wrap: wrap;
  flex: 1;
  min-width: 350px;
  max-width: 33%;
  justify-content: space-between input-from-to {
    outline: none;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    padding: 7.5px 8px;

    height: 35px;
    color: #485764;
    letter-spacing: 0.014em;
  }
  input,
  select {
    outline: none;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    padding: 7.5px 2px;

    height: 35px;
    color: #485764;
    letter-spacing: 0.014em;
    width: 100%;
    align-self: center;
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.4em top 50%;
    background-size: 0.6em auto;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    padding-right: 1px;
    color: #4392bb;
    filter: invert(48%) sepia(99%) saturate(274%) hue-rotate(156deg)
      brightness(89%) contrast(92%);
  }
}

.input-wrapper .input-label {
  font-size: 12px;
  font-weight: 700;
}

.input-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  .icon-from-to {
    width: 10%;
    text-align: center;
  }
}

.input-radio-cover {
  outline: none;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 7.5px 8px;
  height: 35px;
  color: #485764;
  letter-spacing: 0.014em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  .radio-item {
    gap: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .radio-btn {
      border: 1px;
      border-color: #4392bb;
      width: 16px;
      height: 16px;
    }
    .radio-name {
      font-family: "Noto Sans JP";
      font-size: 13px;
      font-weight: 400;
      line-height: 19.5px;
      letter-spacing: 0.014em;
      color: #485764;
      padding-left: 3px;
    }
  }
}

.message-wrapper {
  color: red;
  display: flex;
  justify-content: space-around;
}

.message-wrapper .message-error {
  flex: 1;
}

.btn-search {
  margin-top: 7px;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 7px;
  outline: none;
}
.btn {
  width: 72px;
  height: 30px;
  font-size: 13px;
  transition: background-color 0.2s;
  font-family: "Noto Sans JP";
  font-weight: 500;
  border-radius: 3px;
  border: 1px;
  border-color: #d6d6d6;
  outline: none;
  cursor: pointer;
}

.btn mat-icon {
  width: 12px;
  height: 12px;
  line-height: 0;
  margin-right: 10px;
  transform: translateY(-1px);
}
.btn.btn-primary {
  background-color: #4392bb;
  color: white;
  margin-right: 5px;
  outline: none;
}
.btn.btn-primary:hover {
  background-color: #29759c;
}

.btn.btn-secondary {
  background-color: white;
  border: 1px solid #d6d6d6;
  color: #eb5757;
  outline: none;
  cursor: pointer;
}
.btn.btn-secondary:hover {
  border: 2px solid #4392bb;
  font-weight: 700;
  opacity: 0.7;
}

.btn.btn-warning {
  background: #eb5757;
  color: white;
  cursor: pointer;
}
.btn.btn-warning:hover {
  background: #ca1c1c;
}
.btn:disabled {
  background-color: white;
  border: 1px solid #d6d6d6;
  color: #d6d6d6;
  pointer-events: none;
}

.icon-dialog {
  position: absolute;
  cursor: pointer;
  background-color: #4392bb;
  left: 87%;
  top: 30%;
  border-radius: 1px;
  width: 14px;
  height: 14px;
  align-items: center;
  justify-content: center;
  line-height: 0 !important;
}

.input-dialog {
  position: relative;
  width: 100%;
}
