<div class="table-actual">
  <div class="list-frame-title">
    <div class="flex-center">
      <span>検索結果一覧</span>
      <button class="plus"> <mat-icon svgIcon="icon-plus"></mat-icon> 追加</button>
    </div>
    <div class="total-list">
      <p>検索結果一覧 総計 <span>0 / 100</span> 件</p>
    </div>
  </div>
  <div class="list-data">
    <table>
      <thead class="thead">
        <tr>
          <th scope="col" class="col-1" rowSpan="3">No.</th>
          <th scope="col" class="col-2">商品</th>
          <th scope="col" class="col-3">管理日付</th>
          <th scope="col" class="col-4">倉庫</th>
          <th scope="col" class="col-5">請求荷姿</th>
          <th scope="col" class="col-6">未出庫</th>
          <th scope="col" class="col-7" rowSpan="3">合計</th>
          <th scope="col" class="col-8" rowSpan="3">&nbsp;</th>

        </tr>
        <tr>
          <th scope="col" class="col-2">商品</th>
          <th scope="col" class="col-3">管理日付</th>
          <th scope="col" class="col-4">倉庫</th>
          <th scope="col" class="col-5">請求荷姿</th>
          <th scope="col" class="col-6">未出庫</th>
        </tr>
        <tr>
          <th scope="col" class="col-2">商品</th>
          <th scope="col" class="col-3">管理日付</th>
          <th scope="col" class="col-4">倉庫</th>
          <th scope="col" class="col-5">請求荷姿</th>
          <th scope="col" class="col-6">未出庫</th>

        </tr>

      </thead>
      <tbody>
        <tr>
          <td rowspan="3">
            <div class="col-info">
              <div class="">
                0001
              </div>
              <mat-icon svgIcon="info"></mat-icon>
            </div>
          </td>
          <td>
            <div class="form-row">
              <div class="input-wrapper form-4">
                <input type="text" class="input-control" value="5831001">
                <div class="icon-input">
                  <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                </div>
              </div>
              <div class="input-wrapper form-8">
                <input type="text" class="input-control" disabled value="受注発注商品">
              </div>
            </div>
          </td>
          <td>
            <select class="input-control" disabled>
            </select>
          </td>
          <td>
            <select class="input-control" disabled>
            </select>
          </td>
          <td>
            <select class="input-control">
            </select>
          </td>
          <td>
            <div class="radio-btn">
              <label class="radio">
                <input type="radio" value='2'> ｹｰｽ
              </label>
              <label class="radio">
                <input type="radio" value='0'> ﾎﾞｰﾙ
              </label>
              <label class="radio">
                <input type="radio" value='1'> 枚
              </label>
            </div>
          </td>
          <td>
          </td>
          <td rowspan="3">
            <button class="btn-delete"> <mat-icon svgIcon="icon-delete"></mat-icon></button> 
            
            <button class="btn-copy"><mat-icon svgIcon="icon-copy"></mat-icon></button>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-wrapper">
              <input type="text" class="input-control" disabled value="ｻﾝﾃｨｴ">
            </div>
          </td>
          <td>
            <div class="form-row">
              <div class="input-wrapper col-2">
                <input type="text" class="input-control" disabled>
              </div>
              <div class="input-wrapper col-10">
                <input type="date" class="input-control date">
              </div>
            </div>
          </td>
          <td>
            <div class="input-wrapper">
              <input type="text" class="input-control">
            </div>
          </td>
          <td>
            <div class="input-wrapper">
              <input type="text" class="input-control" >
              <div class="icon-input">
                <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
              </div>
            </div>
          </td>
          <td>
            <div class="form-row">
              <div class="input-wrapper form-4 flex center">
                <div class="w-6">
                  <input type="text" class="input-control" disabled>
                </div>
                <div class="w-4">
                  <label>ｹｰｽ</label>
                </div>
              </div>
              <div class="input-wrapper form-4 flex center">
                <div class="w-6">
                  <input type="text" class="input-control " disabled>
                </div>
                <div class="w-4">
                  <label>ｹｰｽ</label>
                </div>
              </div>
              <div class="input-wrapper form-4 flex center">
                <div class="w-6">
                  <input type="text" class="input-control">
                </div>
                <div class="w-4">
                  <label>ｹｰｽ</label>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="input-wrapper">
              <input type="text" class="input-control" disabled value="58400">
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="3">
            <div class="form-row">
              <div class="input-wrapper col-3">
                <input type="text" class="input-control" value="MT0000">
                <div class="icon-input">
                  <mat-icon class="search-input" svgIcon="icon-search-input"></mat-icon>
                </div>
              </div>
              <div class="input-wrapper col-9">
                <input type="text" class="input-control" disabled value="エムティ">
              </div>
            </div>
          </td>
          <td>
            <div class="form-row">
              <div class="input-wrapper col-3">
                <input type="text" class="input-control" disabled>
              </div>
    
            </div>
          </td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>