.list_content {
    background-color: #F9FCFF;
    border-radius: 2px;
    border: 0.5px solid #9F9F9F;
    padding: 10px;
    height: 660px;
}

.list_content-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 15px 0;
}

.list_content-header-left {
    color: #4392BB;
}

.list_content-header-right {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #9F9F9F;
}

.list_content-header-right-quantity {
    font-weight: 600;
}

.list_content-header-right-quantity-max {
    color: #4392BB;
    font-weight: 600;
}

.list_content-main {
    overflow: auto;
    white-space: nowrap;
    height: 85%;
}

.list_content-main-title {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #EAF4FF;
    border-bottom: 1px solid #D6D6D6;
    padding: 10px 0;
}

.list_content-main-data {
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #D6D6D6;
    height: 60px;
}

tr:nth-child(1) > th:nth-child(1), 
td:nth-child(1){
    position: sticky;
    left: 0;
    background-color: #EAF4FF;
}
tr:nth-child(1) > th:nth-child(2),
td:nth-child(2){
    position: sticky;
    left: 61px;
    background-color: #EAF4FF;
}
tr:nth-child(1) > th:nth-child(3),
td:nth-child(3){
    position: sticky;
    left: 103px;
    background-color: #EAF4FF;
}
tr:nth-child(1) > th:nth-child(4),
td:nth-child(4){
    position: sticky;
    left: 200px;
    background-color: #EAF4FF;
}
tr:nth-child(1) > th:nth-child(5),
td:nth-child(5){
    position: sticky;
    left: 297px;
    background-color: #EAF4FF;
}
tr:nth-child(1) > th:nth-child(6),
td:nth-child(6){
 position: sticky;
 left: 390px;
 background-color: #EAF4FF;
}

tr:nth-child(1) > th:nth-child(17),
tr:nth-child(2) > th:nth-child(11){
    position: sticky;
    right: 0;
    background-color: #EAF4FF;
}

.btn-block{
    position: sticky;
    right: 0;
    z-index: 100;
    background-color: white;
    padding: 15px;
}

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-schedule, .button-achievement, .button-edit {
    align-self: center;
    margin: 0 2px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.disable-achievement,
.disable-schedule,
.disable-edit{
    align-self: center;
    margin: 0 2px;
    border-radius: 3px;
    color: #c0c0c0;
    padding: 10px 20px;
    // background-color:  #cccccc;
    cursor: not-allowed;
 }

.button-achievement, 
.button-edit, 
.button-schedule, 
.btton-showmore {
    padding: 10px 20px;
}

.button-schedule,
.disable-schedule {
    background-color: #00AEC8;
}

.button-achievement,
.disable-achievement {
    background-color: #00B5AD;
}

.button-edit,
.disable-edit {
    background-color: #6B77B6;
}

.table_list {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

.title_list {
    background-color: #EAF4FF;
    border-bottom: 1px solid #D6D6D6;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.data_list {
    border-bottom: 1px solid #D6D6D6;
    height: 60px;
}

.col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.col-7 {
    align-items: start;
    width: 150px;
}

.col-12 {
    align-items: center;
}

.col-1-data {
    color: #7D63CC;
}

.icon-lock-open {
    height: 15px;
    color: #9F9F9F;
}

.icon-lock {
    height: 15px;
    color: red;
}

.col-4-data {
    border-radius: 4px;
    padding: 3px 8px;
    background-color: #EDF6FF;
    color: #4392BB;
    font-weight: 600;
    text-align: center;
}

.col-5-data, .col-6-data, .col-7-data, 
.col-8-data, .col-9-data, .col-10-data, 
.col-11-data, .col-12-data, .col-13-data, 
.col-14-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.col-13-data, .col-14-data {
    align-items: center;
}

.col-6-data_span {
    color: #EBB71C;
    padding: 3px 8px;
    border-radius: 4px;
    background-color: #FFF5D1;
    text-align: center;
    width: 53px;
}

th, td {
    padding: 0 10px;
}

td:first-child {
    background-color: #EFEDFF;
    border-radius: 4px;
    border-right: 1px solid #7D63CC;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    width: 4px;
    background: #4392BB;
    border-radius: 4px;
}

.showMore{
    display: flex;
    justify-content: center;
    margin-top: 12px;

    .button-showmore{
        border: 1px solid #D6D6D6;
        border-radius: 3px;
        color: #4392BB;
        padding: 7px;
        cursor: pointer;
    }
    .icon-showmore{
        height: 14px;
    }
}

.nodata{
    display: flex; 
    justify-content: center; 
    width: 100%;
    font-size: xx-large;
    background-color: #EAF4FF;
}