@import "../../../../../../styles/styles-variables.scss";
.list-data {
  width: 100%;
  background-color: #f9fcff;
  border-radius: 2px;
  border: 0.5px solid #4392bb;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  .list-frame {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    .title-left {
      font-family: "Noto Sans JP";
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.014em;
      color: #4392bb;
    }
    .title-right {
      font-family: "Noto Sans JP";
      font-size: 13px;
      font-weight: 400;
      line-height: 19.5px;
      letter-spacing: 0.014em;
    }
  }
  table {
    width: 100%;
    width: auto;
    border-spacing: 0px;
    border-collapse: separate;
  }

  td,
  th {
    padding: 0px 7px;
  }
  .data-table {
    font-family: "Noto Sans JP";
    letter-spacing: 0.014em;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    table {
      width: 100%;
    }
    .title-table {
      border-bottom: 1px solid #d6d6d6;
      border-color: #d6d6d6;
      background-color: #eaf4ff;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      height: 56px;
      text-align: left;
      position: sticky;
      top: 0px;
      z-index: 100;
    }
    .record {
      height: 60px;
      border-bottom: 1px solid #d6d6d6;
      background-color: #f9fcff;
      .isClosed-group {
        border-right: 1px solid #d6d6d6;
      }
      .isClosed-cover {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 3px;
      }

      .icon-lock {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 10.5px;
        height: 12px;
        color: #9f9f9f;
      }
      .isClosed-status {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
  button {
    outline: none;
    cursor: pointer;
  }
  .btn-action {
    width: 56px;
    height: 30px;
    border-radius: 3px;
    border: 1px;
    border-color: #d6d6d6;
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    align-items: center;
  }
  .btn-plan {
    background-color: #00aec8;
  }
  .btn-plan:hover,
  .btn-actual:hover,
  .btn-correction:hover {
    opacity: 0.7;
  }
  .btn-actual {
    background-color: #00b5ad;
  }
  .btn-correction {
    background-color: #6b77b6;
  }
  .show-more {
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: center;
  }
  .btn-show-more {
    width: 118px;
    height: 35px;
    border-radius: 3px;
    border-color: #d6d6d6;
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: 13px;
    background-color: #ffffff;
    color: #4392bb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 7px;
  }
  .icon-show-more {
    width: 14px;
    height: 14px;
  }
  .show-more-label {
    justify-self: center;
  }

  .item-status {
    height: 20px;
    width: 65px;
    background-color: #edf6ff;
    border-radius: 4px;
    color: #4392bb;
    padding: 4px;
    .item-detail {
      height: 18px;
      width: 49px;
    }
  }
}
.total-items {
  color: #4392bb;
}
.batch-status {
  background-color: #fff5d1;
  border-radius: 4px;
  color: #ebb71c;
  padding: 4px;
  text-align: center;
}
.height-table-250 {
  height: calc(100vh - 480px);
  min-height: 250px;
}

.height-table-full {
  max-height: calc(100vh - 48px - 7px - 28px);
  min-height: 250px;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #4392bb;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
  width: 1px;
  height: 6px;
}

.td-not-yet-color {
  background-color: #efedff;
  border-color: #7d63cc;
  color: #7d63cc;
}

.td-remain-color {
  background-color: #fffae5;
  border-color: #ebb71c;
  color: #ebb71c;
}

.td-done-color {
  background-color: #edf6ff;
}

tbody tr td:nth-last-child(1) {
  position: sticky;
  right: 0;
  background-color: $background-default;
}

tbody tr td:nth-last-child(2) {
  position: sticky;
  right: 70px;
  background-color: $background-default;
}

tbody tr td:nth-last-child(3) {
  position: sticky;
  right: 140px;
  background-color: $background-default;
}

thead tr th:nth-last-child(1) {
  position: sticky;
  right: 0;
  background-color: #eaf4ff;
}

thead tr th:nth-child(1) {
  position: sticky;
  left: 0;
  background-color: #eaf4ff;
}

thead tr th:nth-child(2) {
  position: sticky;
  left: 42.5px;
  background-color: #eaf4ff;
}

thead tr th:nth-child(3) {
  position: sticky;
  left: 76.21px;
  background-color: #eaf4ff;
}

thead tr th:nth-child(4) {
  position: sticky;
  left: 169.87px;
  background-color: #eaf4ff;
}

thead tr th:nth-child(5) {
  position: sticky;
  left: 248.66px;
  background-color: #eaf4ff;
}

thead tr th:nth-child(6) {
  position: sticky;
  left: 337.76px;
  background-color: #eaf4ff;
}

tbody tr td:nth-child(1) {
  position: sticky;
  left: 0;
}

tbody tr td:nth-child(2) {
  position: sticky;
  left: 42.5px;
  background-color: $background-default;
}

tbody tr td:nth-child(3) {
  position: sticky;
  left: 76.21px;
  background-color: $background-default;
}

tbody tr td:nth-child(4) {
  position: sticky;
  left: 169.87px;
  background-color: $background-default;
}
tbody tr td:nth-child(5) {
  position: sticky;
  left: 248.66px;
  background-color: $background-default;
}
tbody tr td:nth-child(6) {
  position: sticky;
  left: 337.76px;
  background-color: $background-default;
}

.navigate-page {
  text-decoration: none;
  color: #ffffff;
}
