<div class="list-data">
  <div class="list-frame">
    <div class="title-left">検索結果一覧</div>
    <div class="title-right">
      <span>総計</span>
      <span *ngIf="!dataResult"></span>
      <span *ngIf="dataResult">{{ dataResult.length }}</span>
      <span> / </span>
      <span class="total-items">{{ totalItems }}</span>
      <span>件</span>
    </div>
  </div>
  <div
    class="data-table"
    [class]="dataResult.length < 21 ? 'height-table-200' : 'height-table-full'"
  >
    <table *ngIf="dataResult.length > 0">
      <thead class="title-table">
        <tr>
          <th></th>
          <th>No.</th>
          <th>伝票番号</th>
          <th>入庫タイプ</th>
          <th>
            <div>入庫予定日</div>
            <div>入庫実績日</div>
          </th>
          <th>
            <div>予定仕入先</div>
            <div>実績仕入先</div>
          </th>
          <th>
            <div>予定仕入先名称</div>
            <div>実績仕入先名称</div>
          </th>
          <th>
            <div>伝票備考</div>
            <div>実績支払先</div>
          </th>
          <th>
            <div>実績支払先名称</div>
          </th>
          <th>
            <div>予定所有者</div>
            <div>実績所有者</div>
          </th>
          <th>
            <div>予定所有者名称</div>
            <div>実績所有者名称</div>
          </th>
          <th>
            <div>予定倉庫</div>
            <div>実績倉庫</div>
          </th>
          <th>
            <div>予定客先伝票番号</div>
            <div>実績客先伝票番号</div>
          </th>
          <th>
            <div>予定数量合計</div>
            <div>実績数量合計</div>
          </th>

          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="record" *ngFor="let item of dataResult; let i = index">
          <td
            class="isClosed-group"
            [class]="
              item.inputStatus === '1'
                ? 'td-remain-color'
                : item.inputStatus === '2'
                ? 'td-done-color'
                : 'td-not-yet-color'
            "
          >
            <div class="isClosed-cover">
              <mat-icon
                svgIcon="icon-unlock"
                *ngIf="item.isClosed === '0'"
                class="icon-lock"
              ></mat-icon>
              <mat-icon
                svgIcon="icon-lock"
                *ngIf="item.isClosed === '1'"
                class="icon-lock"
              ></mat-icon>
              <span
                class="isClosed-status"
                *ngIf="!item.inputStatus || item.inputStatus === '0'"
                >未</span
              >
              <span class="isClosed-status" *ngIf="item.inputStatus === '1'"
                >残</span
              >
              <span class="isClosed-status" *ngIf="item.inputStatus === '2'"
                >済</span
              >
            </div>
          </td>
          <td>{{ i + 1 }}</td>
          <td>{{ item.slipNo }}</td>
          <td *ngIf="item.inputPlanDate == null; else elseBlock">
            <span class="item-status">実績のみ</span>
          </td>
          <ng-template #elseBlock
            ><td><span class="item-status">予定あり</span></td></ng-template
          >
          <td>
            <div>{{ item.inputPlanDate ? item.inputPlanDate : "-" }}</div>
            <div>{{ item.inputActualDate ? item.inputActualDate : "-" }}</div>
          </td>
          <td>
            <div>{{ item.planDestinationCode }}</div>
            <div>{{ item.actualDestinationCode }}</div>
          </td>
          <td>
            <div>{{ item.planDepartmentName }}</div>
            <div>{{ item.actualDepartmentName }}</div>
          </td>
          <td>
            <div>{{ item.planSlipNote }}</div>
            <div>{{ item.supplierCode }}</div>
          </td>
          <td>
            <div>{{ item.supplierName }}</div>
          </td>
          <td>
            <div>{{ item.customerCode }}</div>
            <div>{{ item.customerCode }}</div>
          </td>
          <td>
            <div>{{ item.customerName }}</div>
            <div>{{ item.customerName }}</div>
          </td>
          <td>
            <div>
              {{ item.planRepositoryCode }} {{ item.planRepositoryName }}
            </div>
            <div>
              {{ item.actualRepositoryCode }} {{ item.actualRepositoryName }}
            </div>
          </td>
          <td>
            <div>{{ item.planSupplierSlipNo }}</div>
            <div>{{ item.actualSupplierSlipNo }}</div>
          </td>
          <td>
            <div>{{ item.sumPlanQuantity ? item.sumPlanQuantity : 0 }}</div>
            <div>{{ item.sumActualQuantity ? item.sumActualQuantity : 0 }}</div>
          </td>
          <td>
            <button class="btn-action btn-plan">予定</button>
          </td>
          <td>
            <button class="btn-action btn-actual">実績</button>
          </td>
          <td>
            <button class="btn-action btn-correction">訂正</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="dataResult.length == 0">No data result</p>
  </div>
  <div class="show-more">
    <button
      type="button"
      class="btn-show-more"
      [hidden]="dataResult.length == 0"
      *ngIf="totalPages > currentPage + 1"
      (click)="loadMoreContent()"
    >
      <mat-icon svgIcon="icon-show-more" class="icon-show-more"></mat-icon>
      <span class="show-more-label">更に表示 </span>
    </button>
  </div>
</div>
