<div class="header">
    <div class="frame_356">
        <div class="title_screen">
            <p class="header_title">出庫</p>
            <div class="middle_screen">
                <i class="fa-solid fa-angle-right header_icon"></i>
                <p class="header_title header_title_name">出庫一覧</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="right_1">
            <p class="right_title">業務日付</p>
            <p class="right_datetime">2022/04/14</p>
        </div>
        <button class="header_button">
            <i class="fa-solid fa-angle-up"></i>
        </button>
    </div>
</div>
