<div class="table-plan">
  <div class="list-frame-title">
    <div class="flex-center">
      <span>検索結果一覧</span>
      <button class="chevron"> <mat-icon svgIcon="icon-plus"></mat-icon> 追加</button>
    </div>
    <div class="total-list">
      <p>検索結果一覧 総計 <span>0 / 100</span> 件</p>
    </div>
  </div>
  <div class="list-data">
    <table>
      <!-- Sử dụng colgroup để đặt chiều rộng các cột -->
      <colgroup>
          <col />
          <col />
          <col />
          <col />
          <col />
      </colgroup>
      <thead>
          <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th style="display: flex;justify-content: space-evenly;">
                <p>Column 3</p>
                <p>Column 2</p>
              </th>
              <th>Column 4</th>
              <th>Column 5</th>
          </tr>
          <tr>
              <th>Row 2, Col 1</th>
              <th>Row 2, Col 2</th>
              <th>Row 2, Col 3</th>
              <th>Row 2, Col 4</th>
              <th>Row 2, Col 5</th>
          </tr>
          <tr>
              <th>Row 3, Col 1</th>
              <th>Row 3, Col 2</th>
              <th>Row 3, Col 3</th>
              <th>Row 3, Col 4</th>
              <th>Row 3, Col 5</th>
          </tr>
      </thead>
  </table>
  </div>